[2021-10-13 22:20] MrB-Oo opened #1 "Enhancement Request - AltRank"
I kindly request a script/Enhancement to update 3C bots with AltRank pairs instead of Galaxy Score?

[2021-10-14 13:12] MrB-Oo commented on #1
https://api.lunarcrush.com/v2?data=market&key=KEY&limit=50&sort="gs or ar"
gs = galaxy score
ar = alt rank

[2021-10-15 08:21] MrB-Oo opened #2 "Enhancement Request - Black List"
Is there are way to overwrite your 3C Black List with a csv list of values?

[2021-10-16 20:18] MrB-Oo commented on #2
Yes I think that would be very helpful. That way you can control and update your black list without needing to go onto the 3C interface￼.

[2021-10-20 08:38] MrB-Oo opened #3 "Enhancement Request"
Hi CyberJunky,
Is it possible to include a log purge after x amount of runs ?

[2021-10-22 11:39] MrB-Oo opened #4 "Script stopped working"
Hi,

Im getting the following error in the logs ?

2021-10-22 13:31:13,871 ERROR - Fetching LunarCrush Top X GalaxyScore failed with error: 502 Server Error: Bad Gateway for url: https://api.lunarcrush.com/v2?data=market&key=******************&limit=50&sort=gs&desc=true

2021-10-22 13:31:13,871 ERROR - Fetching LunarCrush Top X GalaxyScore failed with error: 502 Server Error: Bad Gateway for url:

[2021-10-23 16:36] #4 closed, assigned to nobody

[2021-11-11 17:58] cyberjunky commented on #3
@MrB-Oo I have added logrotate to altrank, galaxyscore and watchlist, compound will follow.
Default = keep 7 days, but you can tweak the settings.

[2021-11-11 21:13] toonvdijck opened #5 "Volume Scale"
Currently there is no option to include the Volume Scale in the calculation of updated BO/SO's.
It works only with Volume Scale 1

[2021-11-12 09:03] Ferrox85 opened #6 "Request: Automatic Compound and grid modifying"
Hi,

Great work on this! You've asked for idea's to do.

What I would like is automatic gridbot management. I do this by hand and consumes a lot of time monitoring this and modifying the grids if it gained and the price moved outside the grid.

I have 2 ideas:
- Automatic compounding at a set interval to put the gains back in the grid
- Follow the price (also at a set interval?) if it got outside

[2021-11-12 18:36] cyberjunky commented on #6
Will have look, my gridbot experience is limited, but lets see...

[2021-11-12 19:20] cyberjunky commented on #6
@Ferrox85 I quickly wrote the basic framework, whats missing is the logic.

What do we need, keep the middle of the grid on the price?
Or do we fetch more data like orders and work with those?
[code]

[2021-11-13 11:01] Trigie opened #7 "TypeError: float() argument must be a string or a number, not 'NoneType'"
Galaxyscore was running for some days without any problems and it suddenly quited. When I try to restart the same error pops up.

['BTC_CELR', 'BTC_MANA', 'BTC_FIDA', 'BTC_MOVR', 'BTC_SYS', 'BTC_KSM', 'BTC_DGB']
2021-11-11 22:45:02,722 - galaxyscore - INFO - Next update in 900 Seconds at 23:00:02
2021-11-11 23:00:02,729 - galaxyscore - INFO - Loaded configuration from 'galaxyscore.ini'
2021-11-11

[2021-11-13 18:09] cyberjunky commented on #7
@Trigie thank you for reporting, so either the lunarcrush data was empty or the bots minimal 24hr volume. I will build in more checks..

[2021-11-13 18:27] cyberjunky commented on #7
@Trigie I created version 0.6.7 with extra check, and working 24 hr minimal check, found another but, thanks for reporting!

[2021-11-14 08:28] #3 closed

[2021-11-14 08:28] MrB-Oo commented on #3
Thanks for including this.

[2021-11-14 08:45] Ferrox85 commented on #6
Thank you for your work, when I have time I'll dive in to it!

I think we need the gains to, to calculate the amount we can put back in the grid.

I have time tomorrow to give look in to it.

[2021-11-14 09:24] cyberjunky commented on #5
Toon thank you for your ideas and code, see version 0.6.8

[2021-11-14 09:24] #5 closed

[2021-11-14 10:09] cyberjunky commented on #2
@MrB-Oo I added the -b option for the local blacklist, just one pair per line

https://github.com/cyberjunky/3commas-cyber-bots/blob/main/README.md#running-the-bot-helpers

[2021-11-14 10:09] #2 closed

[2021-11-14 10:09] cyberjunky commented on #7
@Trigie I will close this issue, if you still have this issue (or another one) please open an new issue for it.

[2021-11-14 10:09] #7 closed

[2021-11-14 12:25] MrB-Oo opened #8 "Timezone"
Hi Cyberjunky, Kindly can you implement a time zone setting (TZ) in the *ini files ?

import os
import time
os.environ["TZ"] = "xxx/xxxx"
time.tzset()

[2021-11-14 12:59] cyberjunky commented on #8
Hi, can you show me what is wrong? The logging date/format and or something else?
Maybe I can find it in a more elegant way..

[2021-11-14 15:40] MrB-Oo commented on #8
Im running the scripts on pythonanywhere.com, the timezone on there servers are different to me. So when telegram sends me a notification i.e ....Next update in 3600 Seconds at hh:mm:ss is 60min in the past for me.

[2021-11-14 19:41] cyberjunky commented on #8
@MrB-Oo I added a timezone setting in version 0.7.2 can you test it?
Your code snippet seem to work in the end.

[2021-11-14 20:35] cyberjunky commented on #6
This is what is avaulabe from the bot itself, haven't looked yet what is available for gridbot deals
The grid line with status None shows up as waiting in my graph, strange...

[code]

[2021-11-15 13:30] Ferrox85 commented on #6
Well, I think all the info is there, but it is hard to manage those gridbots, or compounding them manually.

What to keep in mind:
- When the price is outside the grid, you are effectively losing coins (because it is not making trades anymore and you are all in with the losing side of the pair). 3Commas has a new stop-loss function, not sure how to set those right for effective handling of the gri

[2021-11-15 17:48] qbixx opened #9 "Unknown error occurred#Exceptions::OpenDealPresentForThisPair None None"
After running the watchlist.py script for a few days, the following errors sometimes shows up in the logs:

`Error occurred while triggering start_new_deal bot 'Bot name' error: Other error occurred: Unknown error occurred#Exceptions::OpenDealPresentForThisPair None None.`

Most of the time, the corresponding coin is added to 3commas, but i've also seen instances where the coin didn't got added.

[2021-11-15 18:08] cyberjunky commented on #9
Hi thanks for reporting, was this while running test on a paper trade bot by any chance?

[2021-11-15 18:10] qbixx commented on #9
Yes, the script is currently running on a paper trade bot.

[2021-11-15 18:14] cyberjunky commented on #9
This is normal behavior for a paper trading bot, because the exchange in the messages are then being ignored, so when you get same pair for BINANCE and KUCOIN right after each other they both get mapped to your Paper exchange. It could be that 3C is still working on the first action, question is does it fail altogether when you trigger 2 within 1-2 seconds. Can you check next time this happens?

[2021-11-15 18:34] qbixx commented on #9
When looking back in the log, this indeed seems to be the case. Only when the same coin on multiple exchanges is added, the message appears. When the coin is added to one exchange, the message doesn't appear.

So it seems indeed to be related only to paper trade bots and one coin on multiple exchanges.

Will close this issue, thanks for you help!

[2021-11-15 18:34] #9 closed

[2021-11-15 18:42] cyberjunky commented on #9
I will write this in the FAQ, I also noticed this once, but your issue made me find the reason, thanks.

[2021-11-15 21:34] celshof opened #10 "Error: record_invalid Invalid parameters {'max_active_deals'"
My bot had already some activity on it. Max active deals present (20). Started the Galaxyrank bot and  changed to 25 in 3Commas. 15 pair max in galaxyrank.ini Start and update were fine. After first hour the update of pairs is fine, but at the end an error is thrown (BOTID replaced with xxx):
[code]
My galaxyrank.ini:
[code]

I'm running the latest main version of software (did a GIT PULL just bef

[2021-11-16 09:34] cyberjunky commented on #10
Thanks for reporting, do you have set 'Simultaneous deals per same pair' >1 set then?
Otherwise you need to supply at least 25 pairs to have enough of them for 25 deals.

Galaxyscore was able to find 12 pairs only as new pairs, so I guess you have it set to 2?
Only then the error about 24 makes sense.

You didn't specify a minaltrankscore setting so it seems, a very low value if that one could cau

[2021-11-16 10:21] celshof commented on #10
Correct, I have Simultaneous deals at 2.
I didn't set _minaltrankscore_, but I'm using the galaxyscore bot, so I shouldn't then, right? I didn't set _maxaltrankscore_, that is correct.

Are you looking at something specific with regard to logging or bot-info?

[2021-11-16 12:15] cyberjunky commented on #10
Above that error in the logfile the bot settings reported and the lunarcrushdata fetched and possibly reported blacklisted/ volume filtering information, but you need to have debug=True set I think.
Are you sure the right bot id was configured, do you have more than one bot managed by galaxyscore?

[2021-11-17 10:42] celshof commented on #10
I only have one bot and I copy-pasted the ID. Also, first time it did load successfully, so I'm sure that that connection is in order.

This is what happened during the last run today. My blacklist consists mostly of BUSD with things like EUR, Dollar, etc.

[code]

[2021-11-17 13:06] cyberjunky commented on #10
Hi, strange error which I would like to understand and solve this. Are Dutch and on Discord byany chance, maybe we can connect and you are willing to share the bot (in a PM) so I can copy and test it

[2021-11-17 15:59] celshof commented on #10
Discord is prima :)

[2021-11-18 08:45] Trigie opened #15 "None of the by LunarCrush suggested pairs have been found on the Binance Main exchange!"
Pulled the new version of the script, but it seems there's something wrong with checking the pairs against the Binance exchange.
Think it has to do with the 24h check:

python3 galaxyscore.py
2021-11-18 09:38:24 - galaxyscore.py - 3Commas bot helper galaxyscore
2021-11-18 09:38:24 - galaxyscore.py - Started at Thursday 09:38:24 18-11-2021
2021-11-18 09:38:24 - galaxyscore.py - Loaded configuration

[2021-11-18 08:47] Trigie commented on #15
I think already found it (RTFM).  have to specify the volume in the bot.  Now it works. thanks!

[2021-11-18 10:59] cyberjunky commented on #15
Well actually this is a bug, because it should ignore the 24h volume if not specified in the bot, I will fix it.

[2021-11-18 11:14] cyberjunky commented on #8
I will close this one, since it should solve your issue, except not on Windows.

[2021-11-18 11:14] #8 closed

[2021-11-18 11:16] cyberjunky commented on #15
Should be fixed in version 0.7.6, closing, thanks for reporting btw, happy trading!

[2021-11-18 11:16] #15 closed

[2021-11-18 11:18] cyberjunky commented on #10
I cannot seem to reproduce it, even running the same bot as you shared (although I saw it has a different max deals of 30)

[2021-11-18 11:35] Trigie commented on #15
Aah ok, thanks for the feedback. Keep up the good work!

[2021-11-18 13:31] celshof commented on #10
I tried some tweaking to see if the result changed. I'll do a "have you tried turning it off and on again" and see what that does. Shall I do a PULL after I stopped the bot?

[2021-11-18 13:42] cyberjunky commented on #10
Yeah why not.. Wouldn't hurt, unless I introduce new bugs ;-)

[2021-11-18 15:17] ujai opened #16 "Unable to start service"
I ran the command as described:

$ sudo cp scripts/3commas-galaxyscore-bot.service /etc/systemd/system/
$ sudo systemctl start 3commas-galaxyscore-bot.service

It doesn't seem to do anything, just hangs on that line after I pressed enter. Tried to chmod +x as well but it doesn't seems to be any helpful. There are no further information under journalctl too.

$ journalctl -r -u  3commas-galaxyscore

[2021-11-19 13:12] ujai commented on #16
Managed to find the workaround by using Supervisor

[2021-11-19 13:12] #16 closed

[2021-11-19 19:24] toonvdijck opened #17 "Error when restarting compound.py after the newest commit"
Traceback (most recent call last):
  File "compound.py", line 527, in <module>
    compound_bot(botdata)
  File "compound.py", line 363, in compound_bot
    deals_count, profit_sum = process_deals(deals)
  File "compound.py", line 340, in process_deals
    db.execute(f"INSERT INTO deals (dealid, profit) VALUES ({deal_id}, {profit})")
sqlite3.OperationalError: table deals has no column named profit

[2021-11-19 19:46] toonvdijck commented on #17
A workaround is to manually add the column profit in the sqlite3 db.

[2021-11-19 21:39] cyberjunky commented on #17
Will fix tomorrow.. thanks for reporting!

[2021-11-19 22:07] cyberjunky commented on #17
Created a fix, not tested yet.

[2021-11-22 20:46] cyberjunky commented on #17
Closed, I guess it works, can open new if needed.

[2021-11-22 20:46] #17 closed

[2021-11-22 20:47] cyberjunky commented on #10
Closing cannot reproduce, maybe has to do with making changes to running bot without stop/start. Can open new issue if needed.

[2021-11-22 20:47] #10 closed

[2021-11-22 21:38] MKGort opened #18 "Trouble getting started"
Hello.
I have tried installing for use on Ubuntu and PythonAnywhere, following the directions provided.  In both instances, I get the following for either Galaxy or Altrank:

Traceback (most recent call last):
  File "/home/mkgort/3commas-cyber-bots/./galaxyscore.py", line 636, in <module>
    botids = json.loads(config.get("settings", "botids"))
  File "/usr/local/lib/python3.9/json/__init__.py",

[2021-11-23 09:39] pikespeak opened #19 "Blacklist for Stablecoins"
I use the bot since Sunday and it works well.
I have selected Altlist as data source
Yesterday I loaded the pair USDC/BUSD into the bot and started a trade. Of course, there is not much to expect.
Would it be possible to make an extra blacklist for stablecoins and then include it in the config file with stablecoin = true/false? Alternatively, each user must always know all stablecoins and include

[2021-11-23 09:40] pikespeak opened #20 "Integrate Coinmarketcap API"
How about integrating the API of Coinmarketcap. Then you could filter the cryptocoin pairs by additional criteria like market cap or trading volume.

[2021-11-23 11:37] cyberjunky commented on #18
I suspect the config entry for botids is invalid, can you show that?

[2021-11-23 12:27] GoempieK opened #21 "Make exchange name configurable in watchlist.ini"
**Is your feature request related to a problem? Please describe.**
I have multiple Binance accounts in my 3commas account. To keep these apart I renamed them in 3commas.

This prevents the Watchlist.py from working.

**Describe the solution you'd like**
Make the name configurable in watchlist.ini

**Describe alternatives you've considered**
I have renamed one of my account Binance

**Additional co

[2021-11-23 14:26] cyberjunky commented on #20
What exactly do you want to do with Coinmarketcap data then?

The 24hr trading volume is already taken into account when selecting pairs, if you have set one in your bot(s)
And Lunarcrush GalaxyScore and AltRank scores also look at market cap
So it looks redundant, missing the point of using LC data.

https://lunarcrush.com/faq/what-metrics-are-available-on-lunarcrush

[2021-11-23 14:27] cyberjunky commented on #19
You can blacklist those and other coin pairs in 3Commas and in blacklist.txt already.

[2021-11-23 14:40] cyberjunky commented on #21
Did you leave 'Binance' in the name of your exchanges?
It looks for 'Binance' in exhange string not equal exchange string.

So 'Binance 123', 'Binance 456' etc should still work...

It is currently case sensitive, I will fix this, if the above is true show me one of the exchange names which doesn't work.

[2021-11-23 14:43] GoempieK commented on #21
One is called Porsche 911 :-)
gotta keep your eyes on the prize

I wil test with Binance Porsche 911

[2021-11-23 14:51] cyberjunky commented on #21
Haha LOL...

[2021-11-23 16:29] MKGort commented on #18
1 [settings]
  2 timezone = Europe/Amsterdam
  3 timeinterval = 30
  4 debug = True
  5 logrotate = 7
  6 botids = [ lunartest1 ]
  7 numberofpairs = 0
  8 maxaltrankscore = 1500
  9 accountmode = paper
 10 3c-apikey = xxxxxx
 11 3c-apisecret = xxxxxx
 12 lc-apikey =
 13 notifications = False
 14 notify-urls = ['notify-url1']:wq

I have confirmed the name of the bot is exactly "lunartest1"

Thank

[2021-11-23 16:34] cyberjunky commented on #18
@MKGort the botid should be the id (number) of the bot, I don't support names (because they can be very long with spaces etc)

So botids = [ 123456 ]

Where 123456 is the number in the url when you view or edit the bot in 3commas.

[2021-11-23 16:35] MKGort commented on #18
Yep, I was using the name instead of the bot id.   I cannot believe I didn't catch that sooner.  Thanks again for the great work.

[2021-11-23 16:39] #18 closed

[2021-11-24 11:31] cyberjunky commented on #21
I presume it worked, so closing, if you still have an issue please reopen.

[2021-11-24 11:31] #21 closed

[2021-11-26 08:22] tumblewader opened #23 "Option to stop bots"
**Is your feature request related to a problem? Please describe.**
There are times when the bot might not be able to update the 3commas bot through an API request,e.g., number of pairs less then number of deals. Not being able to get altrank scores etc. In these cases 3commas will lag behind the altrank scores causing issues.

The second stop bot feature with an optional close deals features shoul

[2021-11-26 08:58] MrB-Oo opened #24 "Feature request - Notification enhancement"
Feature Request (low priority / nice to have)

Im having a hard time tracking if all my scripts successfully ran or not and if their are any errors.

____Solution I would like____

One Telegram bot one to provide summary information
10:00 - 5 of 5 python scripts on the 1h schedule ran with 0 errors, 0 warnings
10:15 - 2 of 2 python scripts on the 15m schedule ran with 0 errors, 0 warnings
10:30 -

[2021-11-26 13:38] tumblewader opened #26 "Does not work correctly with Binance Futures bot"
**Describe the bug**
A) Running the alt-rank bot on a 3commas futures bot removes all settings related to leverage on the bot
B) For some pairs it throws up errors like the following

ERROR - Error occurred while updating bot 'ALTRANK - Futures' error: Other error occurred: record_invalid Invalid parameters {'pairs': ['No market data for this pair: USDT_WRXUSDT', 'No market data for this pair: USD

[2021-11-26 13:54] cyberjunky commented on #26
Hi, thanks for reporting!
Are all settings removed, or just the 'futures' related bits?
What is exchange you use, and what is the name of the exchange you use inside 3Commas for this bot?
Not even sure if we can fetch futures market data from 3Commas, have to check.

[2021-11-26 13:57] cyberjunky commented on #24
I was looking the ability to see if I could embed emoij in the messages, but can see how apprise supports this.
Also have some code in where I bundle all messages from a single run in one message, this cleans up the telegram channel a lot.
Not sure how to tackle the reporting part though, it doesn't look that easy at first side.

[2021-11-26 14:01] tumblewader commented on #26
Only the future related bit are removed.

The exchange i am using is Binance. The bot overall works but breaks for some pairs which are not in binance futures which then we have to add in the blacklist in 3commas.

One hint is that the pairs in the futures are actually named like USDT_BTCUSDT and not USDT_BTC, but i think 3commas API takes care of that conversion.

[2021-11-26 14:20] cyberjunky commented on #26
I guess I have to look at the bot values to see if it's a futures bot or not, and do some things differently...

[2021-11-26 15:42] cyberjunky commented on #26
Can you test 0.7.8 for retaining the settings you missed?
I added a copy of these, don't know if there are more?
[code]

[2021-11-26 16:07] cyberjunky commented on #26
Turns out each bot has an account_id, and that account has a market_code, so there is hope, I'm not longer depended on the name the user gave to the 3commas exchange entry. so thank you for this bug report ;)

Will need some testing and cleaning up...
[code]

[2021-11-26 16:22] cyberjunky commented on #26
Mixed results though, the paper/real mode is biting me...

[2021-11-26 19:21] cyberjunky commented on #26
@tumblewader Can you try alpha release 0.7.9, and let me know how it goes?
I now look at the market code like described above.
Didn't do anything with rewriting code pairs yet, since you pointed out 3Comma's does that automatically with futures bots.

[2021-11-26 20:01] cyberjunky commented on #26
Hmm you need to keep the webinterface in real mode, it stops when in paper, bummer... need to look some more

[2021-11-27 09:43] tumblewader commented on #26
Thanks. I have checkout the 0.7.9 tag and running it to test. Lets see how it goes, till now no issues. Will update you if I see anything funny :)

[2021-11-27 12:00] MrB-Oo commented on #24
Thanks for the consideration.

[2021-11-27 12:01] #24 closed

[2021-11-27 13:31] tumblewader commented on #26
@cyberjunky

Hey, it seems to be fixed. The fixes that you put in are working nicely. I lost some money but that has nothing to do with the changes you did :)

Great job!. I will close this for now unless there is something more to it.

[2021-11-27 13:31] #26 closed

[2021-11-27 16:25] adzw01 opened #27 "TP % Adjustments"
Hi thanks for the hard work you have put into this. Ive been using the altrank and compounding with great sucess and nice profits along the way. so thank you!

What would be a nice to have is a script which will auto increment the TP % based on how many SO have been executed on a trade - the script will only adjust deals which are assigned to the bot id's which are specified in the config.

For ex

[2021-11-27 19:17] adzw01 commented on #27
i've just created a script based off your framework for this. i can share the code if you wish so you can add it to your tools. obviously i need to test over a few days before making live

[2021-11-27 19:25] cyberjunky commented on #27
@adzw01 Yes that would be nice, the whole reason i open-sourced the things I make, so people can help.

[2021-11-27 19:50] qbixx opened #28 "Other error occurred: record_invalid Invalid parameters"
**Describe the bug**
When running the compound.py script, the error below shows in the logs when it's trying to update the BO/SO.

**To Reproduce**
Steps to reproduce the behavior:
1. Which program you run
compound.py

2. Relevant settings used (don't paste your bot-id's, or any api-key values!)
[code]

2. Error you get
[code]

**Environment:**
 - Python version: Python 3.8.10
 - Operating System:

[2021-11-27 20:01] adzw01 commented on #27
please see below. it appears to work by only affecting deals with the specifed orders in the config file.

a few things to note:
- default increments are 0.1% for every SO completed - this can be changed in the config file
- notification and debuggling still implemented using your previous frameworks frorm other scripts
- existing deals will be updated on the first initiation of the database - so

[2021-11-27 20:01] mshaltaf opened #29 "getting error when tried to add Kucoin bot -Bot is using the 'kucoin' exchange which is not implemented yet!"
**Describe the bug**
i have tried to add Kucoin bot and connect it with bot helper altrank but i'm getting the below error
"Bot is using the 'kucoin123' exchange which is not implemented yet!"

[2021-11-27 23:59] pikespeak opened #30 "File not Found Error"
I have upgraded the Repo from 57ffeff..6c6d672

2021-11-28 00:55:21 - altrank.py - 3Commas bot helper altrank
2021-11-28 00:55:21 - altrank.py - Started at Sunday 00:55:21 28-11-2021
2021-11-28 00:55:21 - altrank.py - Loaded configuration from '/var/git/3commas-cyber-bots/altrank.ini'
2021-11-28 00:55:21 - altrank.py - Notifications are disabled
2021-11-28 00:55:21 - altrank.py - Reloaded configur

[2021-11-28 09:16] cyberjunky commented on #30
@pikespeak Hi thanks for reporting, please see FAQ #8, you need to add AccountRead permission to the 3Commas API keys
I will change the code so this is more obvious.

[2021-11-28 10:16] cyberjunky commented on #29
@mshaltaf Thank you for reporting!
This error message if from an older version of altrank, it should be supported (but KuCoin was not tested by me) in the latest version.
So please update en let me know.

[2021-11-28 10:17] cyberjunky commented on #28
These pairs are all UP/DOWN pairs, not sure how that works with market data.
Which exchange do you use?

[2021-11-28 10:49] qbixx commented on #28
@cyberjunky I'm using Binance. I don't know if it's important, but i've put all UP/DOWN pairs to my blacklist in 3commas.

[2021-11-28 11:15] mshaltaf commented on #29
Hello @cyberjunky thanks for your reply i have tried with the new version and now getting diffrent errror , even though i tested with binince bot ... below the error

Traceback (most recent call last):
  File "./altrank.py", line 648, in <module>
    find_pairs(botdata)
  File "./altrank.py", line 430, in find_pairs
    marketcode = get_threecommas_account(thebot["account_id"])
  File "./altrank.p

[2021-11-28 11:29] cyberjunky commented on #29
We are getting there... you need to add AccountRead permissions to newly created 3Commas APIKeys... and use those.

[2021-11-28 11:38] mshaltaf commented on #29
@cyberjunky , thank you , yes i have checked this and now it is working great ..

[2021-11-28 11:42] cyberjunky commented on #29
Great, I close this, you can open a new issue if you encounter a bug or have a idea..

[2021-11-28 11:42] #29 closed

[2021-11-28 11:48] cyberjunky commented on #28
@qbixx You are having this issue with compound right?
I don't check pairs in compound.py, since I don't change them, I only place back the pairs that the given bots already had during updating, seems a 3Commas bug to me. For now, I guess you should remove them manually from the bot(s)

[2021-11-28 13:47] cyberjunky commented on #27
Thanks, made some minor mostly cosmetic changes and added it to the repository!
At what interval do you run it? Since you cannot miss active deals..?

[2021-11-28 13:54] adzw01 commented on #27
ive got mine set to 15 minute intervals - you can run every minute if wanted.

it doesnt matter if quick deals do get missed, this just helps increase the profit %. ive left it running overnight and is working fine, so ive now put it into production.

[2021-11-28 14:03] cyberjunky commented on #27
Thanks again, will close this ticket!

[2021-11-28 14:03] #27 closed

[2021-11-28 14:34] qbixx commented on #28
@cyberjunky Thanks for pointing me in the right direction. I've found the root cause. The pairs that gave the error where added to my blacklist. However these coins aren't available anymore on Binance. I just removed them from my blacklist and the error disappeared. 3commas apparently checks both the coins that are inside the bot, but also the ones that are on the blacklist. If a coin isn't availa

[2021-11-28 14:34] #28 closed

[2021-11-28 14:52] cyberjunky commented on #28
We can prevent this to check them before updating the bot, but i doubt how fast the sync 3c market -binance market works, and how often this occurs.

[2021-11-28 18:03] adzw01 opened #31 "TP Increment account type fix"
Hi mate

please see attached fixes. there was an issue with checking for deals depending on what account was selected within the 3commas website (paper / real).

i have fixed this and also removed code which is no longer needed.

thanks
[tpincrement.txt](https://github.com/cyberjunky/3commas-cyber-bots/files/7614075/tpincrement.txt)

[2021-11-28 20:15] cyberjunky commented on #31
I merged it, thanks!

[2021-11-28 20:15] #31 closed

[2021-11-29 14:06] adzw01 opened #32 "TP Increment - further enhancments"
Hi me again

i have been using this with great sucess and increasing the profits more on my account. but i have increased my safety order allocation on my deals which could result in a big TP % increase, so I wanted more control of the increase TP % per completed SO.

So i have implemented a 'step scale', which will increase each safety order to a specifed amount. For example, the config file now

[2021-11-29 19:11] cyberjunky commented on #32
@adzw01 Thanks again! It's online, going to edit README now, Added upgrade_config() code, something new useful for future update of other scripts too.

[2021-11-29 19:44] #32 closed

[2021-11-29 19:45] cyberjunky commented on #30
Closing issue, if you still have this issue let me know.

[2021-11-29 19:45] #30 closed

[2021-11-29 21:20] adzw01 opened #33 "blacklist.txt being semi ignored?"
Hi

i dont think the local blacklist is working correctly.

my blacklist.txt reads this:
USDT_SHIB
USDT_BTC
USDT_ETH

but SHIB is still being selected in the pair selection. (i cant use the 3commas blacklist as i have got another bot dedicated to trading SHIB, hence i dont want it included in my altrank bot)

the below log shows its read the 3 pairs from blacklist.txt but the updated pairs is stil

[2021-11-29 21:37] adzw01 commented on #33
ok i found the offending line.

newblacklist = file.readlines()
needs changing to
newblacklist = file.read().splitlines()

readlines() was putting '\n' at the end of each pair when a new line followed.

the blacklist worked fine with one pair only, but multiple lines it was ignoring.

[2021-11-30 10:03] cyberjunky commented on #33
Should be solved with patches from @toonvdijck, I patched the watchlist_ code, thanks both!

[2021-11-30 10:03] #33 closed

[2021-11-30 14:45] toonvdijck opened #36 "Compound profit over all running bots"
**Is your feature request related to a problem? Please describe.**
It would be nice to group some bots and distribute the total profit.

**Describe the solution you'd like**
Example: You have botids 1001, 1002,1003 and 1004.
Bot 1001 takes 1USD/btc profit. It would compound 0,25 into each bot.

**Describe alternatives you've considered**
/

**Additional context**
It would be even better tot have a

[2021-11-30 15:19] cyberjunky commented on #36
Isn't this too complicated, and negative profit will affect other bots

[2021-12-01 16:09] brhahlen commented on #36
I would actually prefer to have this the other way around:
Botids 1001, 1002, 1003 and 1004 are all running.
All the profit combined is distributed into bot 1001.

[2021-12-04 19:19] adzw01 opened #38 "TSL Helper"
So another feature I've created. The ability to update the SL with a TSL function.

As 3C doesnt appear to allow any TSL for bots, only TTP. TSL only appears to work on smart trade, so I want the ability to have TSL for my futures bots which dont have any SO.

Not sure how this script would work with bots that make use of many SO's - so please bear this in mind.

activation-percentage in the confi

[2021-12-05 11:11] cyberjunky commented on #38
Thanks! (again)

[2021-12-05 13:25] bramjekel opened #39 "compound.py gives UnicodeEncodeError"
Python gives the following error when running compound.py

--- Logging error ---
Traceback (most recent call last):
  File "C:\Program Files (x86)\Python38-32\lib\logging\__init__.py", line 1084, in emit
    stream.write(msg + self.terminator)
  File "C:\Program Files (x86)\Python38-32\lib\encodings\cp1252.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0

[2021-12-05 13:35] cyberjunky commented on #39
Hi Bram, how is your Bot called?

[2021-12-05 14:23] joelpires opened #40 "Change bot in order to add coins correlated to those in LunarCrush"
Some free services like [this](https://cryptowat.ch/correlations) or [this](https://www.macroaxis.com/invest/crypto-correlation/All-Exchanges/All-Coins) offer the possibility to know coins that have a behavior extremely similar or are the opposite of other coins.
I believe that we could scale profits if we had the option to add these positively correlated or negatively correlated coins to the exis

[2021-12-05 14:30] feromoita opened #41 "Change bot in order to add coins correlated to those in LunarCrush"
Some free services like this or this offer the possibility to know coins that have a behavior extremely similar or are the opposite of other coins.
I believe that we could scale profits if we had the option to add these positively correlated or negatively correlated coins to the existent 10 altrank/galaxyscore coins.

Is it possible to have another helper/script that looks for these correlated coi

[2021-12-05 14:33] #40 closed

[2021-12-05 21:31] bramjekel commented on #39
It's called: LunarCrush Auto Top 10 Alt Daily v6 - TP1%/2SO

I love short names ;-)

[2021-12-06 08:38] toonvdijck commented on #39
It is related to the Bitcoin symbol.
https://www.charactercodes.net/20BF

[2021-12-07 16:05] bramjekel commented on #39
You mean I have to adjust the python code...?

[2021-12-09 21:21] amargedon commented on #20
Ha ok, reading this after the script has been created. I've been working on this over the past days and currently the script is in a branch. I have it running for the next days in order to test and see what pops up...don't expect anything so can finish it up next week or so.

Currently the script will get the top x coins (configurable number) from CMC, sorted on market cap. No other selection(s) a

[2021-12-11 21:42] toonvdijck commented on #39
That could be a temporary work around :)

[2021-12-12 21:05] jak9nn opened #43 "beginner question"
Hi, I'm a total noob and I have no experience with Python.  But I successfully downloaded the files to Pythonanywhere, modified 3commas api key and api secret, but:
1)I don't know how to set up apikey LunarCrush. (I only found the V2 api key at legacy.lunarcrush.com)

2) When I run python3 ./altrank.py this comes out:
python3 ./altrank.py
Traceback (most recent call last) :
File
"/home/jak9n/3comm

[2021-12-12 23:06] #43 closed

[2021-12-15 12:34] brhahlen opened #44 "compound.py throws error for real bots when paper trading is active"
**Describe the bug**
Running `compound.py` on a real bot, when Paper Trading is active on the 3Commas site will throw an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which program you run
`compound.py`
2. Relevant settings used (don't paste your bot-id's, or any api-key values!)
Pretty default settings, TP Increment to 0.75
3. Error you get
`2021-12-15 13:21:51 - compound.py

[2021-12-15 17:11] cyberjunky commented on #39
@bramjekel can you check latest code of compound.py? (no version update, just pick the one from repo)

[2021-12-15 17:14] cyberjunky commented on #44
@brhahlen Can you try latest version of compound.py? (from repo, no version update yet)

[2021-12-15 17:21] brhahlen commented on #44
@cyberjunky Will give it a spin tomorrow!

[2021-12-15 17:30] cyberjunky commented on #38
I have updated the README, of you see anything wrong or have something new to add, please let me know.

[2021-12-15 17:30] #38 closed

[2021-12-15 19:43] cyberjunky commented on #20
@amargedon I think you need to fetch more data from CMC, maybe 100 (if amount of data is reasonable) to have enough pairs left to fill 'numberofpairs'. if some of them happen to be on blacklist, or not in marketdata and are skipped.

[2021-12-16 07:38] brhahlen commented on #44
@cyberjunky That works!

However, I see that you're passing a `Forced-mode: Real` header, which I think means it only works for Real trading?
Now, I don't need to compound on Paper, but there might be people that do, so that might cause issues later on?

Again, for me this is fine!
Thanks!

[2021-12-16 07:51] bramjekel commented on #39
unfortunately, i still get the same error message

[2021-12-16 10:49] jak9nn opened #45 "Leverage"
Hi, everything works absolutely fantastic, but I have a problem with futures.  Why the minimum leverage is only 25, and the minimum basic order varies by pairs. It could be done to use a maximum leverage of 100x.  And for a pair where it is not allowed leverage 100x the maximum allowed leverage for that pair?  When this error pops up, the pairs no longer update. Thank you ![image](https://user-ima

[2021-12-16 14:16] cyberjunky commented on #39
@bramjekel can you paste the name of the bot?

It works for me with t bitcoin symbol, but that already worked without the gix.

Probably due to using the correct encoding on my system (utf8), what environment are you running it on?
If run on linux what does this give:
[code]

[2021-12-16 14:39] cyberjunky commented on #39
Ah yeah a win 10 install, I forgot.
Can you give a screenshot of the name, since it doesn't show it contains a bitcoin symbol when pasted.

Can you paste this in a python prompt, or in a file and run it?
[code]

[2021-12-16 15:07] bramjekel commented on #39
first I got this error:

  File "encode.py", line 9
    print en_utfs
    ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(en_utfs)?

When I changed the last line of code to print (en_utfs) I got this error:

  File "encode.py", line 9
    print(en_utfs)
    ^
SyntaxError: invalid syntax

[2021-12-16 15:11] cyberjunky commented on #39
[code]

[2021-12-16 15:13] bramjekel commented on #39
('Dutch_Netherlands', '1252')

[2021-12-16 15:25] cyberjunky commented on #39
Can you add this near top of compound.py and see if it fixes anything?
[code]

[2021-12-16 15:32] bramjekel commented on #39
Unfortunately still the same error :-(

[2021-12-16 18:53] bramjekel commented on #39
@cyberjunky I have been searching and tweaking myself and discovered the following.

if i replace this section:

----

[code]

----

with this section

----

[code]

----

and add the encoding to this as well, like:

[code]

then I do not get an error...

[2021-12-16 18:55] cyberjunky commented on #44
@brhalen some data is only available under real mode, so you need to force it, it's a quirk of 3Comma's, under paper mode it will work too.

[2021-12-16 18:55] cyberjunky commented on #44
I will close it.

[2021-12-16 18:55] #44 closed

[2021-12-18 16:53] rtdevx opened #46 "Stop Compounding if above risk % level"
**Is your feature request related to a problem? Please describe.**
Compounding is very powerful mechanism and I believe if unattended it could drastically increase the risk level for most (if not all) DCA strategies on 3 commas.

When Compound bot compounds profits made by a (3c) bot to the BO and SO of the same (3c) bot, it will grow exponentially (the very nature of compounding) and will increas

[2021-12-18 20:52] cbkn76 opened #47 "compound.py not finding bot ID's"
Hello, I'm on a raspberry pi with Bullseye. I'm not sure if this is a bug or most likely something I'm doing wrong. when I run python3 ./compound.py each bot ID i setup in the .ini comes back as not found.

Error Occurred compounding bots: other error occurred: not_found Not Found None

This happens for each bot id, I have triple checked each bot id # is correct. i have also put in my 3commas api

[2021-12-19 08:26] cyberjunky commented on #47
What syntax does you botids  settings line use?
Did you install the files from the scripts directory, just editing is not enough

[2021-12-19 08:28] cyberjunky commented on #46
How to determine what the bankroll is will be a major challenge, since it can be shared with other bots (which maybe not use compound/are not in scope)
Any idea's would be nice.

[2021-12-19 08:31] cyberjunky commented on #45
I suspect the minimum settings changed because the pairs changed, and 3C is no longer accepting the bot settings it had with the old pairs/ No sure how to fix it. I could check the error and change parameters accordingly, but that doesn't sound very safe thing to do without knowledge of user.

[2021-12-19 17:23] cbkn76 commented on #47
First, I want to thank you for these bot helpers. they are incredible and I hope I am able to get them working.
 I put the numerical ID of the bots [12345678, 87654321]
what is the command to install the .service files from the scripts folder?

[2021-12-19 18:07] cbkn76 commented on #47
Ok, i re-read the directions and yes I had ran the systemctl commands for the 3commas-compound-bot.service . I ran them again and verified no errors. Attaching an image of the status check
![Uploading 453D7EDA-0569-4300-926F-26D05CBF4C07.jpeg…]()

[2021-12-19 18:10] cbkn76 commented on #47
![Uploading D728B25D-2A18-4822-B217-7BE89199C5AE.jpeg…]()

[2021-12-19 19:37] cyberjunky commented on #47
Edit the paths inside the files you need then install as described here:
https://github.com/cyberjunky/3commas-cyber-bots#start-automatically

[2021-12-19 21:53] cbkn76 commented on #47
I had updated the paths already, but i think i found my problem. looks like i was using the deal ID, it changes with every deal. where do i find the bot id?? is it a number, or the name of the bot??

[2021-12-20 01:24] cbkn76 commented on #47
You can mark as closed, i reinstalled on a fresh version of raspbian and it works fine. thank you for the help and a hundred thanks for these great bots!!

[2021-12-20 10:15] mthad opened #49 "Galaxyscore.py with paperaccount - error: Fetching 3Commas account failed"
**Describe the bug**
Hello,
First of all thank you for sharing this amazing tools!

I tried to use galaxyscore.py using docker with paper account on 3 commas.
When I start the container, I get this error message:

[code]

**Environment:**
 - Python version: v 3.9.9
 - Operating System: Windows 10 + Docker Destop v4.3.0

**Additional context**
I am using paper account on 3 commas

Thanks for your h

[2021-12-20 16:58] mthad commented on #49
tried with release 0.7.9 it worked. but not with main branch. I close this issue

[2021-12-20 17:17] cyberjunky commented on #49
Why close an issue which isn't fixed?

I think you need to read the documentation and add AccountRead rights to your 3Commas API key

[2021-12-20 18:11] rtdevx commented on #46
Yes, it would require pulling the Base currency Total divided by Maximum number of possible SO's used by all bots using that as a Base  (MAX DCA).

I am setting up a test system against my Paper Trading account to demonstrate the problem. I will get back with more details and continue in this thread.

I will post the BOT ID's and their initial values so we can track how quickly it grows and how qu

[2021-12-20 18:26] #47 closed

[2021-12-20 19:42] rtdevx commented on #46
I have set up the test system now and running it against my Paper Trading account:

I am compounding 100% profit back to BO / SO values for each given bot to make it really aggressive.

_My quote currency:_ BUSD
_Total Bankroll (Paper Trading):_ 43,754 BUSD
_Max DCA (for ALL BOTS RUNNING BUSD):_ 35,102 BUSD
_Risk Level:_ 80%
_Starting BO / SO values (for BOT IDS 7397661,7424815,7424844):_ 20/20

B

[2021-12-21 10:28] mthad commented on #49
Hi,
sorry for closing it too early, mistake on my side.
Regarding your suggestion, I already set 3Commas API Key with this parameter.
my API key - BotsRead, BotsWrite, AccoundsRead:
![image](https://user-images.githubusercontent.com/66381401/146913987-8f00ae5f-2e76-438c-b41f-c55ad39f03b7.png)

[2021-12-21 10:40] rtdevx commented on #46
[UPDATE] compound.py doesn't work against Paper Trading account.

My best guess this is not allowed by API on the test account.

I will be running the test on my real account against one of the composite bots now (this may be a bit slow but should work with time).

_My quote currency:_ BUSD
_Risk Level:_ 116%
_Starting BO / SO value:_ 15 / 15
_Funds available for the bot at the beginning of the te

[2021-12-21 10:42] cyberjunky commented on #46
I will check this, another user reported something similar

[2021-12-21 10:55] cyberjunky commented on #49
Ok will check, thanks

[2021-12-21 11:52] rtdevx commented on #46
No worries, they probably don't store transaction ID's on Paper Trading account the way they do on the Real account,,,

[2021-12-21 11:53] cyberjunky commented on #46
It worked before, I think we cannot fetch certain paper data using 'real' mode calls anymore since last update of their API

[2021-12-21 18:05] rtdevx commented on #46
[UPDATE]

Myself and my friend we had a closer look at the data and the code and we may actually be ok...

From the description:

I understood it as it is adding all profit back to the BO / SO values.

But after we looked closely, it seems to be taking into consideration all BO's, SO's, Max Active Deals, Max Safety Orders and SO volume scale, not just putting it ALL back into original BO / SO's (a

[2021-12-21 18:50] adzw01 opened #50 "trailingstoploss enhancments"
updated the code to add a initial set % which is specified in the config file.

this will allow the below scenario:
original deal SL is 5%
the activation % is triggered at 2% profit
the script can move the SL straight to -0.01% to guarantee profit
the TSL will then track the price up to ensure more guaranteed profit.

users need to amend the following in the ini file (upgrade code included in scri

[2021-12-21 20:20] mthad commented on #49
Hi,
in the function named ```def get_threecommas_account(accountid):```

this piece of code seems to cause the issue (line 299):
```additional_headers={"Forced-Mode": "real"}```

I commented it and it worked

Did a quick check and it's also present in the code of the following scripts:

- galaxyscore.py
- altrank.py
- compound.py
- coinmarketcap.py
- watchlist.py
- watchlist_100eye.py

Repoduced t

[2021-12-21 20:35] cyberjunky commented on #49
But without it real mode doesn't work correctly when you put the webinterface in paper mode I think (it was an issue a while ago)
Can you test this?
If this is the case we need to reinstate the old accountmode setting and use that, but it means we cannot run mixed bots (paper/real)

[2021-12-21 20:36] cyberjunky commented on #49
Maybe they (3Commas) changed this behavior to work with all modes now, since it was strange behavior anyway.

[2021-12-22 01:01] jak9nn commented on #45
Now I have to put every pair that has a bigger base order than $10 to blacklist on 3commas. It's tedious and one day $10 may be enough, but the other day when the price of the crypto flies up so the minimum order is for example $11 and it already writes me an error, and gave no longer updated pairs. Then I have to add another pair to the blacklist.

[2021-12-22 16:23] mthad commented on #49
Hi,

Scenario tested with galaxyscore.py (commented the line ```additional_headers={"Forced-Mode": "real"}```):

1. switched on **paper account on web interface**, launched galaxyscore.py with botids of real account in galaxyscore.ini
--> Result: Bot id **in real account successfully updated** with the right pairs.
2. switched on **real account on webinterfac**e, launched galaxyscore.py with botid

[2021-12-22 21:57] rtdevx commented on #23
Maybe Start / Stop selected bots based on certain Fear and Greed Index?

They do provide API:

https://alternative.me/crypto/fear-and-greed-index/

?

[2021-12-23 04:48] Akomans opened #51 "FTX perpetuals not recognized"
Perpetual coins are not being recognized by the tool i wonder if its possible to include them. Thank you for your hard work !!

[2021-12-23 05:15] Akomans commented on #51
![image](https://user-images.githubusercontent.com/83137098/147191467-52ba2359-4acb-401f-bd05-1722cabedc68.png)

[2021-12-24 04:59] Timozack88 opened #52 "Keep getting Not a crypto trigger message, or exchange not yet supported."
Dear ,

I get error with watchlist.py Not a crypto trigger message, or exchange not yet supported. while testing the helper

i have tried all type of message to trigger the bot but i keep getting this error
![Screenshot_4](https://user-images.githubusercontent.com/96510605/147318211-7682a9e4-be66-42b3-9cf2-44a9e8fee194.png)

kindly let me know how do I trigger the bot with message also how can we

[2021-12-24 08:06] cyberjunky commented on #52
Hi, the format is wrong, the code is written for the ['wiseanalize' ](https://t.me/wiseanalize) telegram channel.
You can join it to see how it looks.

[2021-12-24 08:06] #52 closed

[2021-12-24 19:00] cyberjunky commented on #51
@akomans I'm not using FTX but aren't they using using xxxPERP kinda of name scheme?
Can you give some examples, to see if this can be implemented, it doesn't look like it..

[2021-12-24 19:05] cyberjunky commented on #50
@adzw01 agreed if I call the config setting 'initial-stoploss-percentage' ?
Without understanding all code yet, so could be wrong naming...

[2021-12-24 19:12] cyberjunky commented on #50
This round code block seems wrong with if then inside? Or is python knowledge failing ;-)
[code]

[2021-12-24 19:15] adzw01 commented on #50
python knowledge failing ;) its correct. ive got 4 people using it, with the optional initial % and some without as a pure TSL :)
feel free to rename the variable though if you wish

[2021-12-24 19:20] Akomans commented on #51
oh it worked already when i added +"-PERP".   thank you

[2021-12-24 19:27] cyberjunky commented on #51
@Akomans can you point out where? Curious...

[2021-12-24 19:52] cyberjunky commented on #50
I have committed the code (held 0 as default for disabled initial-stoploss-percentage, but not sure if this is working correct)
Please test after Christmas ;-)

[2021-12-24 19:56] adzw01 commented on #50
it might be better to leave the initial % as [] (empty), so it works as a traditional SL with the optional ability to set the value so the SL is pushed to the set % on the first activiation?

merry christmas my friend

[2021-12-24 19:58] cyberjunky commented on #50
[] doesn't look like empty entry,  more an empty array, can be confusing?
Will give it another though.. thanks! Greetings!

[2021-12-24 20:01] adzw01 commented on #50
its the only way i could get the ini file to accept an empty value, as leaving it as blank would throw an error. the only issue with setting it as 0, means the SL will be moved to 0% at the first activation, and this might not be what everyone wants :) if that makes sense

[2021-12-25 10:16] cyberjunky commented on #50
I changed it to your code, indeed not easy to fix without extra code/overhead. Thanks!

[2021-12-25 10:16] #50 closed

[2021-12-26 20:56] BertK88 opened #53 "Include or exclude coins that had a 24h change up or down of XX percent."

[2021-12-29 12:06] #20 closed

[2021-12-30 16:02] cyberjunky commented on #49
@mthad I know about that text.
But the issue is to determine the correct mode I have to get the market_code of an account_id linked to a botid.
And if this request also needs the correct mode for that account (which it the case, it turns out) We have a chicken and egg problem.
I cannot rely on the account_name in the bot for this, this can be "Paper account 12345" or "Test account" or something el

[2021-12-30 16:20] cyberjunky commented on #49
@mthad Working solution it seems: I first read account data in paper mode, if this doesn't give me the market_code for theaccount_id I read it again using real mode ;-)

[2021-12-30 17:13] cyberjunky commented on #49
@mthad can you test with latest version?

[2021-12-31 12:34] mthad commented on #49
Hi,
@cyberjunky, tested with new version (main branch), worked successfully in scenario below.
Scenario tested with galaxyscore.py:

1. switched on paper account on web interface, launched galaxyscore.py with botids of real account in galaxyscore.ini
--> Result: Bot id in real account successfully updated with the right pairs.

2. switched on real account on webinterface, launched galaxyscore.py w

[2021-12-31 12:51] cyberjunky commented on #49
@mthad Thank you for reporting and testing, have a happy new year too! :champagne:

[2021-12-31 12:51] #49 closed

[2022-01-01 10:10] cyberjunky commented on #45
Sorry I don't know how to fix this, it's too dynamic and information is missing in the API to code around it.
I can find minimum trading values for pairs, but not minimum leverage information and acting upon an error message is too tricky, you don't leverage settings to be changed automatically. Closing for now,

[2022-01-01 10:10] #45 closed

[2022-01-01 10:10] cyberjunky commented on #51
@Akomans Ping.

[2022-01-03 21:08] toonvdijck commented on #39
@bramjekel Is the problem solved with your solution?

I have this error also (win10 install)

[2022-01-03 23:06] #46 closed

[2022-01-04 08:39] dangalv opened #58 "Blacklist for futures dont work"
Hello! first thanks for your work!
Now I have to clarify that I have very basic knowledge but something I defend myself. Oh and I hope the translator is understood.
The bot works correctly, except for the blacklist in futures.
To confirm that I start a new clean task: I delete the previous galaxyscore.ini then I set the blacklist.txt,. And I run the galaxyscore.py again.
For example there is a pai

[2022-01-04 09:07] bramjekel commented on #39
@toonvdijck yes it was

[2022-01-04 09:07] #39 closed

[2022-01-04 09:51] cyberjunky commented on #39
I have added it to the code base, thanks!

[2022-01-04 10:01] toonvdijck commented on #58
#57 Should fix this i suppose.

[2022-01-04 14:36] dangalv commented on #58
Thanks! I'll check it

[2022-01-04 17:16] cyberjunky commented on #58
@dangalv what does your -d and or -b parameter look like?

[2022-01-04 20:40] dangalv commented on #58
Sorry friend, I'm half green in terms of certain technicalities in this language, should I run that parameter in the console? How should i do it? thanks

[2022-01-05 09:28] cyberjunky commented on #58
@dangalv you want to use a blacklist, you have enabled it using the -b argument you give when executing the script.
So in short, with which command and arguments do you start the script above? ;-)

[2022-01-05 16:13] dangalv commented on #58
I was run it directly without any argument, I was open the .py file and put the program to run from the compiler..
Now I run it from the console in the "main" part but it tells me that the -b parameter expects an argument. I have tried in different ways because I don't have a clear understanding of python apart from the logic of certain things in the program.

![arg](https://user-images.githubuser

[2022-01-05 16:38] cyberjunky commented on #58
Yeah you have to run it as described... closing

[2022-01-05 16:38] #58 closed

[2022-01-05 18:21] dangalv commented on #58
asdasd

I ran the file with the mentioned parameters and the wizard keeps putting the blacklisted pairs 😥

![image](https://user-images.githubusercontent.com/97088068/148268367-004d8fe6-b0a2-4067-81c8-ae7e3116c459.png)

![image](https://user-images.githubusercontent.com/97088068/148268479-6aded55f-633f-49ea-b221-04d82f38be12.png)

[2022-01-05 18:28] cyberjunky commented on #58
Please read!!!!!!

It says it can't open the blacklist, thats whi I asked you to specify how you start it.
The blacklist is called blacklist.txt so you need to add -b blacklist.txt...

[2022-01-05 18:53] dangalv commented on #58
ok it's true some time ago I put the extension txt and I had been told that the file was not found so I discarded putting the extension.
Now the wizard read the blacklist but the skipped pairs are still being placed

![image](https://user-images.githubusercontent.com/97088068/148271587-dcd74f6f-4465-4eb4-b380-2dca51d41f4b.png)

![image](https://user-images.githubusercontent.com/97088068/148272355-

[2022-01-06 15:03] dangalv commented on #58
...
Someone else to help me with this problem that the wizard does not read the futures blacklist?

[2022-01-06 15:21] cyberjunky commented on #58
Did you try with -b blacklist.txt yet?
First you must get rid of the error opening the blacklist.

[2022-01-06 15:34] dangalv commented on #58
Yes, as I said in the previous message it was able to read the blacklist, but the wizard seems to only execute the common pairs for example BTC_USDT but it does not execute the USDT_BTCUSDT futures pairs.
Tested on paper wallet (works) and then on real futures account (doesn't work)

[2022-01-06 15:39] cyberjunky commented on #58
Your base_order and safety_order values are too low, I cannot fix that since minimum base order value changes per pair, and even over time for same pair, this script only changes pairs not the other values, you need to change the bot settings I guess. So when the script changes the pairs, there can be another minimum value needed and the script just use the values from the bot which were in there

[2022-01-06 18:36] dangalv commented on #58
It's precisely for that problem (base_order / safety_order values are too low) that I want to use the blacklist to be able to omit those pairs that need a high capital such as SOL, UNI, BTC, etc.

[2022-01-06 18:41] cyberjunky commented on #58
I understand, so USDT_UNIUSDT is on a line in the blacklist.txt right?
Can you set debug = True in your altrank.ini file and run again until error comes up, then copy last part of the logs/altrank.log showing what it does?
You can mask the botid's and other info you want to hide.

[2022-01-06 19:04] dangalv commented on #58
[altrank.log](https://github.com/cyberjunky/3commas-cyber-bots/files/7824142/altrank.log)

[2022-01-07 05:56] dangalv commented on #58
It seems that now it works, you just have to put the pair in the traditional way: "btc_usdt" instead of "usdt_btcusdt".

[2022-01-07 07:24] cyberjunky commented on #58
Since you remove the log I can't check why and fix it, or document it, but nice to hear it works.

[2022-01-07 08:37] dangalv commented on #58
Ready! It seemed impossible but the correct syntax for futures is for example:
USDT_BTC
USDT_SOL
USDT_UNI

In this way, checked by me and with several pairs, there is no problem with the blacklist and futures.

thanks

[2022-01-08 04:35] Akomans commented on #51
sorry about the late reply i added +"-PERP" at the end of specific line but lose my edited file so cant remember maybe you can find it ? if you could include ftx perpetuals that would be perfect

[2022-01-08 07:28] dangalv opened #59 "I cannot link the telegram account with the bot helper"
Hello again! you don't know how much I tried to avoid having to ask for help but I don't know what else to do :/

I comment the case I followed all the steps to get my bot token and chat id, then I embed it in the main code. As shown in the tutorial example.
And it cannot be started.
![telegram error2](https://user-images.githubusercontent.com/97088068/148635488-9ab741e0-3110-4c20-8077-9f306acc6dd

[2022-01-08 13:04] toonvdijck opened #60 "Add Safety orders using profit"
**Is your feature request related to a problem? Please describe.**
Just like the script created by @Lutjebroequer, it would be nice to increase the bot with more Safety orders.

**Describe the solution you'd like**
In the compound.ini file add a value that notes down the actual max safety orders and desired safety orders.
Technically it should work the same as "add max active deals"

**Describe al

[2022-01-08 15:25] cyberjunky commented on #51
Thanks, I implemented it in latest version, close this for now, if you can test would be nice...

[2022-01-08 15:25] #51 closed

[2022-01-08 15:26] cyberjunky commented on #41
Can you give an example?

[2022-01-08 15:58] cyberjunky commented on #59
@dangalv It looks like an syntax error in notify_url setting, something with more than one " or , please look closely

[2022-01-08 19:10] dangalv commented on #59
this part (bold letter) I copied from your example code, is okay?:
notify-urls = ["tgram://{bot_token}/%%{chat_id}/**_?image=False&detect=yes&format=text&overflow=upstream&rto=4.0&cto=4.0&verify=yes"_**

I put the code without that extra code part and the error is the same.

ex:
notify-urls = ["tgram://{bot_token}/&&{chat_id}/"]

[2022-01-08 19:44] cyberjunky commented on #59
You need to fill the altrank.ini file, NOT using the format like you posted above ```cfg["settings']..```

Using this format like described in the readme, no commas or json formatting:
[code]

[2022-01-08 23:40] dangalv commented on #59
Oh great! It worked modifying it from the "ini" file and not the ".py" file as I did

lot of thanks!

// off:
I don't know if I have to open another topic regarding a trouble about the amount of coins it bot helper scans (only 100). But this problem is not a high priority, anyway it caught my attention that the helper analyzed (fetched) only 100 currencies in the ranking and I from the cfg file "m

[2022-01-08 23:40] #59 closed

[2022-01-09 09:08] cyberjunky commented on #59
Nice you got it working.
For now the 100 limit is hardcoded yes, but planned to make it configurable, even fetching 1000 coins is not a problem, but wanted to keep it lightweight.
The high value of maxaltrankscore is set so high to be sure it's disabled by default. It's used by galaxyscore only.

[2022-01-09 20:51] dangalv commented on #59
Thank you sir, I hope you can make it possible! I will gratefully support your tool as soon as I can see that it is working for me as expected, this deserves recognition from the community.

[2022-01-10 07:59] cyberjunky commented on #59
I have made the lunarcrush fetchlimit configurable in latest code.
Just run altrank again after update and value is added to your ini file.
Make sure it's set slightly higher than the pairs you need, since some can be blacklisted or don't reach minimal 24h volume

[2022-01-10 08:05] dangalv commented on #59
Wow how fast! I'll take a look at it as soon as I can. Thanks!

[2022-01-12 00:14] UrmaGurd commented on #19
You could filter out the LunarCrush data categories that contain "stablecoin".

[2022-01-12 01:49] dangalv opened #62 "lunarcrush api stopped working?"
Hi all! Could you confirm if the lunarcrush api stopped working?
I used a free one which was this: "https://api.lunarcrush.com/v2" and now it tells me this in the error reports: "Fetching LunarCrush data failed with error: 401 Client Error: Unauthorized for url: https://api.lunarcrush.com /v2?data=market&type=fast&sort=acr&limit=1500&key=https%3A%2F%2Fapi.lunarcrush.com%2Fv2 "

[2022-01-12 01:57] hunght commented on #62
I think so, This is the message from the site:
[code]

[2022-01-12 02:03] dangalv commented on #62
Yes I just read it! I can not believe it

[2022-01-12 02:15] dangalv commented on #62
You can't use the LunarCrush announcement telegram to update the list of altcoins? Although there are only 10 altcoins at least to wait for the new api.

![image](https://user-images.githubusercontent.com/97088068/149051826-281df5ea-8abc-4d81-a03c-c4986c18bb81.png)

[2022-01-13 00:34] thematikma commented on #62
I did generate a API Key under settings on legacy.lunarcrush.com. After putting the key in the respective ini files and restart the scripts, everything is working again. For now.

[2022-01-13 01:57] #62 closed

[2022-01-13 02:41] Djeff77 opened #63 "Issue fetching lunarcrush data"
Hi,
I followed to setup and the readme for the altrank.

everything start well but it create an error at the moment he try to fetche lunarcrush data
soryy i found the problem...

[2022-01-13 02:46] #63 closed, assigned to cyberjunky

[2022-01-16 17:44] DeFiFarmerJohn opened #70 "Notifications for tsl_and_tp.py"
**Is your feature request related to a problem? Please describe.**
When using the  tsl_and_tp.py, a notification is sent every 120 seconds. The same as when it runs.  I want the notifications when a change is made, but not every 2 minutes when there is no change.
**Describe the solution you'd like**
Add a line of code that allows notifications only when the py makes a change to the current deal.
*

[2022-01-18 21:06] amargedon commented on #70
This tsl_and_tp script is a first version created by me, currently I'm working on an improved version in another developer branch. Over there the amount of notifications has been tuned down to exactly what you expect; only a notification when a deal has been updated.

I expect this new version somewhere towards the end of this week, or next week, to become available in the main repository of Cyber

[2022-01-19 12:46] DeFiFarmerJohn commented on #70
Thank you Sir.  I appreciate the feedback

[2022-01-23 10:44] toonvdijck commented on #60
#72

[2022-01-25 18:44] #60 closed

[2022-01-27 11:23] spammik opened #75 "Watchlist - another format"
Hi, would it be possible to set the watchlist to a different telegram message format?
For example, I receive messages in the format:

**WIN/USDT**
Vol: 8965790.70 Base: 0.00566600 Price: 0.00508700

Thanks in advance.

[2022-01-29 17:03] MassimoCarpita opened #79 "Dynamic Max Active Deals modification when updating coin pairs + GalaxyScore threshold"
**Is your feature request related to a problem? Please describe.**
Here's one problematic situation: suppose you want to update your coin pairs with AltRank, but you only want to get top20 pairs (because you might get from experience that below that threshold you really don't get good performances). Suppose that due to some restrictions (available pairs on your exchange + blacklisted coins) you en

[2022-01-30 09:03] hunght commented on #23
I try to do the some this what is different between `https://github.com/Zaczero/CBBI` and https://alternative.me/crypto/fear-and-greed-index/ ? which one should I trust?

[2022-01-31 12:52] cyberjunky commented on #75
Hi Spammik, this is not easy currently, thinking about some sort of template with placeholders, but there are many different formats

[2022-01-31 12:53] cyberjunky commented on #70
This code is currently present in the repository under name 'trailingstoploss_tp.py', so closing this.

[2022-01-31 12:53] #70 closed

[2022-01-31 18:25] DeFiFarmerJohn commented on #70
Thank you

On Mon, Jan 31, 2022, 7:54 AM Ron Klinkien ***@***.***> wrote:

[2022-02-01 06:42] dangalv commented on #79
I agree with this request, not only for altrank but also for other bots such as "3C-tools Bot-Assist" that, for example, in the coins "winner_24h_uptrend" that in a bearish period the list of these coins is scarce or null, necessarily for this problem it's necessary to dynamically adjust the number of "maximum active deals" (as in the thread request) according to the coins that are in the list.
As

[2022-02-02 05:22] TylerSanford opened #83 "Request to add kucoin exchange"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to be able to use kucoin exchange pairs.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-02-02 08:56] cyberjunky commented on #83
For which script, and which output do you see?

[2022-02-07 01:59] DeFiFarmerJohn opened #87 "ImportError: cannot import name 'Final' from 'typing' (/usr/lib/python3.7/typing.py)"
I cannot run any of the scripts since today git pull and reboot.  I keep getting this error on every script.

root@ip-:~/3commas-cyber-bots# python3 ./trailingstoploss_tp.py
Traceback (most recent call last):
  File "./trailingstoploss_tp.py", line 13, in <module>
    from helpers.misc import check_deal, wait_time_interval
  File "/root/3commas-cyber-bots/helpers/misc.py", line 7, in <module>

[2022-02-07 12:31] DeFiFarmerJohn commented on #87
Problem was fixed by upgrading python.  Thank you.

[2022-02-07 12:31] #87 closed

[2022-02-07 12:46] cyberjunky commented on #87
@DeFiFarmerJohn which version did you go to? We should be able to run on 3.7 so we have to replace the Final statement perhaps.

[2022-02-07 14:27] cyberjunky commented on #83
@TylerSanford can you let me know which script doesn't work with Kucoin, and if known which error you get?

[2022-02-09 07:36] pvdochtend opened #88 "Add configuration option for log/notification level"
**Describe the solution you'd like**
It would be nice if you can configure the level of notification and level of logging separatly.

I currently use the altrank script to update every 10 minutes but my Telegram get's flooded then. I am only interested if a bot updated fails. So only when the error occurs. Then I probably need to take action.

The logging on the server (in the logging file) I want

[2022-02-09 07:50] pvdochtend opened #89 "Add coinmarketcap max rank "requirement" to Altrank"
**Is your feature request related to a problem? Please describe.**
Currently I'm using the Altrank script. But there are also pairs like "SPELLBUSD" for example that only exists since 7-12-2021.
I don't want to have those kind of coins because they can go "to zero".
I think when we add an extra filter to the coin selection, for example Coinmarketcap rank < 150 then we can assume that they don't go

[2022-02-10 11:01] usamike25 opened #90 "Movecontract on ftx"
Hey first of all thank you verry much for all the great bothelpers. it really makes my life better;)
i discovered move contracts on ftx, where you can trade the volatility. And  i would like to try different strategies on those contracts. the problem is they expire every day so there is a new contract for every day. it is quite annoying to change every single 3commas bot pairs every day. i am a to

[2022-02-10 12:05] cyberjunky commented on #90
I have no idea yet how this works, which settings do you need to update to your bots daily?

[2022-02-10 13:04] usamike25 commented on #90
hey thanks for replying.
i think it should not be to hard, but i am just not at that level to make it myself yet.
the contract is displayed as a trading pair like BTC/USDT but its called BTC_MOVE_0210/USD. and every day there is a new one. bsp next day would be BTC_MOVE_0211/US
![Bildschirmfoto 2022-02-10 um 13 09 56](https://user-images.githubusercontent.com/99398085/153413423-aa488216-b7f3-467c-

[2022-02-10 14:31] chespix opened #91 "galaxyscore no fetching correct LunarCrush coin ranking (not ordering in desc)"
**Describe the bug**
Im running the same galaxyscore script in my personal computer and on a raspberry PI.
On my computer it works as expected, and updates the bot with the top pairs, given the configuration.
But on the raspberry PI, I see it fails on error "None of the LunarCrush pairs are present on the Paper Account XXXXX (paper_trading) exchange!"

Ive been checking the log files after turning

[2022-02-10 14:39] chespix commented on #91
I've found that while the version is 0.9.0 on both computers, the raspberry PI has a newer code.  After updating code from repo on my computer, I get the same error.

Ive fixed it adding the following line  to helpers/misc.py file. Not sure if proper fix, but using this as a workaround.

.....
    # Construct query for LunarCrush data
    if "altrank" in program:
        parms = {
            "dat

[2022-02-10 15:13] chespix commented on #91
thank you! awesome script. KUDOS!

[2022-02-10 15:18] #91 closed

[2022-02-10 15:20] cyberjunky commented on #90
I looked into them and saw weekly and daily pairs.
So should i walk through specified bots and check if pairs are still valid for ftx, and if it's a daily pair move day up by 1, and if weekly by 1 week?
With same parameters?
Changing leverage  bots automatically seems so risky

[2022-02-10 16:01] usamike25 commented on #90
yeah that would be perfect all bot  parameters stay the same only the pair updates automatically to the current day.
why do you think automatically changing lev. bots is risky?

[2022-02-10 17:27] usamike25 commented on #90
amazing that would help me out a lot. and if you want my settings i chan share them with you, but i dont even know if this strategy is profitable yet, since there is no real way to backtest it. and as i said i want to test a lot of differnt strategies.
my strategy is mainly based on shorting volatility( i know seems stupid to short btc volatility) at specific times of the day. it is basicaly more

[2022-02-10 19:00] cyberjunky commented on #90
I have most of it working already, day contracts, quarterly, but what about weeks, like 'USD_BTC-MOVE-WK-0211' is it a rule that it always start on a Friday? (hence the 11)

Since these are the current valid ones on FTX:
[code]

Btw I do not check if other bots are already running with the same new pairs, I just calculate new ones from current day when I see invalid once, so not on market, and ass

[2022-02-11 07:47] usamike25 commented on #90
to be honest i don't really trade the weekly or monthly contract so i cant tell you .
but when it comes to daily there are allways two contracts tradable at the moment one for today and the other one for tomorrow.
i will run many different subacounts on ftx with a lot of different strategies. once we have the moveupdater ;). Then collect stats on all the different strategies and deploy a combinati

[2022-02-11 08:47] cyberjunky commented on #90
I have put movecontracts.py online, run it once then fill in the ini file, at minimum your 3c api keys and bot inside botids.

Please test first, don't know if it runs in paper, since that uses Binance market data, not FTX's.

[2022-02-11 10:30] usamike25 commented on #90
where can i find the movecontracts.py ?
and no there are no paper bots for move contracts. i try wit small amounts

[2022-02-11 10:46] cyberjunky commented on #90
It was not published correctly, now it is ;-)
Do a 'git pull' or download new .zip file depending on installation type.

[2022-02-12 08:34] usamike25 commented on #90
nice it works perfect for dailys so far ;)

[2022-02-13 10:24] cyberjunky commented on #90
That's good to hear..

[2022-02-17 14:17] Zmizo opened #95 "Add close deal command on watchlist"
Hi ,

it will be great if you can add close deal function to the watchlist file

so when we want to close a deal we would use

BINANCE
#USDT_ATOM
LONG
CLOSE

[2022-02-19 13:07] cyberjunky commented on #95
I have added support for it to latest code, please test!
It will check in runtime for open deals for the bot(s) when close command is received, and check if there is an active deal for the specific pair, since it can already be closed otherwise. (in that case it does nothing besides displaying a log entry)

This means if you run more than 1 bot with watchlist script all deals *for that pair* will

[2022-02-19 14:32] #95 closed

[2022-02-23 08:54] zegmaarmanu opened #96 "TypeError: float() argument must be a string or a number, not 'NoneType'"
Hi,

first of all, thanks a lto for your work, it resulted in a couple of really nice bot setups.

The bot was running fine for a few days, but then I ran into the following error:

2022-02-23 09:39:12 - galaxyscore - INFO - 3C Cyber Bot-Helper galaxyscore
2022-02-23 09:39:12 - galaxyscore - INFO - Started on Wednesday 09:39:12 2022-02-23
2022-02-23 09:39:12 - galaxyscore - INFO - Notifications ar

[2022-02-23 08:55] zegmaarmanu commented on #96
FYI, a similar error pops up on the Altrank bot helper.
Cheers

[2022-02-23 13:33] #96 closed

[2022-02-23 13:34] zegmaarmanu opened #97 "TypeError: float() argument must be a string or a number, not 'NoneType'"
Hi,

first of all, thanks a lto for your work, it resulted in a couple of really nice bot setups.

The bot was running fine for a few days, but then I ran into the following error:

2022-02-23 09:39:12 - galaxyscore - INFO - 3C Cyber Bot-Helper galaxyscore
2022-02-23 09:39:12 - galaxyscore - INFO - Started on Wednesday 09:39:12 2022-02-23
2022-02-23 09:39:12 - galaxyscore - INFO - Notifications ar

[2022-02-25 20:39] kverpoorten opened #98 "Error occurred updating bot with new SL/TP values: Other error occurred: record_invalid Invalid parameters {'trailing_enabled': ['is not included in the list']}."
**Describe the bug**
I'm getting the following error from time to time (not always) with the trailingstoploss_tp.py script:

"3CQSBOT_MULTI_BANSHEE": BUSD_ATOM/1331030122 profit (3.02%) above activation (2.5%). StopLoss activated on 2.52%.

TakeProfit increased from 5.0% to 5.26%

Error occurred updating bot with new SL/TP values: Other error occurred: record_invalid Invalid parameters {'trailing_

[2022-02-26 07:59] cyberjunky commented on #98
Can you see with which update you get this, like Stoploss change or TP change?

[2022-02-26 08:12] cyberjunky commented on #97
I guess you have a bot with an empy 'Trading 24h minimal volume', instead of 0, will look into a fix.

[2022-02-26 08:18] #97 closed

[2022-02-26 08:19] cyberjunky commented on #90
I will close since it seems to work for you

[2022-02-26 10:33] kverpoorten commented on #98
Yes, TP change.

The weird thing is I ran the script for several days with only one bot, no problems.

Yesterday I added a second bot (by adding a second bot ID to the array), and with the first attempt to update a deal from the second bot it happened.

Also one update did work fine on that same bot for some reason a little later.

I then created a complete new section in the ini file for that sec

[2022-02-26 15:18] usamike25 commented on #90
hey yes it has been workin nicely. but i noticed that it would be better to update the bots once a day at 00:00 instead of an interval, because the interval starts to lag and after a view days it is significantly off schedule. thanks anyways

[2022-02-27 09:44] cyberjunky commented on #90
@usamike25 Hi, good point! Can you try to set interval to 0 in the ini file (meaning it will run once) and then add it to the crontab (if you run on windows the scheduler) to run at 00:00:01 every night?

[2022-02-27 12:06] zegmaarmanu commented on #97
Great, thanks my man; it's working!

Nogmaals bedankt ;)

Groeten,
Manu

[2022-02-27 19:59] M1cha3l-2022 opened #99 "Error when character '%' in botname"
config.parser can not deal with single character '%' in botname. Solution is to replace % in botname with %%.

galaxyscore.py
_________________________________________________________________
      # Walk through all bots configured
        for thebot in thebotids:
            if not cfg.has_section(f"bot_{thebot}"):

                error, data = theapi.request(
                    entity="bots",

[2022-02-28 17:58] usamike25 commented on #90
hey as of now i fixed it with a scheduler works fine goes trough all bots at 00:00:0
![Bildschirmfoto 2022-02-28 um 18 58 16](https://user-images.githubusercontent.com/99398085/156033996-c5f58f02-ab93-4246-bee8-bc9d7185de81.png)

[2022-02-28 20:20] cyberjunky commented on #90
That's nice! Will include it in code for this script since the timer is not suitable.

[2022-02-28 20:21] cyberjunky commented on #99
Thanks will update code soon!

[2022-02-28 20:58] usamike25 commented on #90
cool maybe you know how to make this timezone independent. i could not figure it out. thats why my update time is set to 01:00. when the contract expires in my timezone

[2022-02-28 21:04] cyberjunky commented on #90
Did you try specifing your timezone in the movecontracts.ini?
timezone: Europe/Amsterdam

[2022-02-28 21:09] usamike25 commented on #90
yes. it does not work, i dont know why.. may be this schedule module gets the time from the system.

[2022-02-28 21:11] usamike25 commented on #90
sorry i tried it again it works lol.. in my own script id did not haha

[2022-02-28 21:13] usamike25 commented on #90
so the scrip should be running perfectly fine if we set (timezone: UTC) and the scheduler to 00:00

[2022-03-10 05:38] dangalv opened #100 "Error with Bootssistexplorer and lunarcrush assistant"
Hello again!
After not using this bot helper for a long time, I'm surprised that I can't use the Lunarcrush and 3Ctools assistant.
I refreshed with a new lunarcrush api (legacy.lunarcrush) and the 3c api just in case, but this didn't help

Here the errors:

botassistexplorer.py (renamed to ba.py)
.ini :
![ba](https://user-images.githubusercontent.com/97088068/157595770-e904aeb2-d87f-43fc-9af1-d1d1

[2022-03-10 07:41] cyberjunky commented on #100
3c-tools website is not reachable because you appear to use a proxy server in between, check and fix connectivity to www.3c-tools.com (using webbrowser or something else first.

Galaxyscore isn't working because it looks at the filename to decide what to do (galaxyscore or altrank) they share the same code. So you need to rename it back to galaxyscore.py, you can add something behind it if you wan

[2022-03-10 07:41] #100 closed

[2022-03-10 08:51] dangalv commented on #100
Thanks, I solved the Lunarcrush problem but not the 3ctools problem since I use pythonanywhere and for sure the site is blocking the website 😕

[2022-03-10 12:41] cyberjunky commented on #100
You can open a ticket for support at pythonanywhere to open www.3c-tools.com for you, or let them check your permissions, I once had a false network profile which prevented me from connecting to other sites too.

[2022-03-10 17:21] dangalv commented on #100
Thanks I'm on it

[2022-03-15 07:26] meizenga commented on #88
I concur. I would like to have the option to enable/disabled or select the notifications.

------------------------------------------------------------------------------
This is the notification I would like to disable since I see no point of having a notification for this:

botname, [14-3-2022 21:41]
[3C Cyber Bot-Helper tpincrement]

Next update in 300 Seconds at 21:46:40
-----------------------

[2022-03-15 08:23] cyberjunky commented on #99
I have updated the code (took a bit longer to find some time) thanks again!

[2022-03-15 08:23] #99 closed

[2022-03-15 08:24] cyberjunky commented on #98
I could not reproduce it either, I will close for now, please (re)open if needed!

[2022-03-15 08:24] #98 closed

[2022-03-15 08:37] cyberjunky commented on #90
Thanks I updated the code!

[2022-03-15 08:37] #90 closed

[2022-03-15 08:49] cyberjunky commented on #89
Do you mean the cmc ranking value is in the lunarcrush data, or using the seperate data from coinmarketcap? The last one means we need to make it optional.
A bit short on time to check lunarcrush data set, so any help is welcome :)

[2022-03-15 08:52] cyberjunky commented on #88
But this info "Next update in 300 Seconds at 21:46:40" doesn't fit under 'warning' nor under 'error', so we could just move it to debug, we have nothing between info and debug levels anyway... Or group them more, and only post them if there is something useful to mention.

[2022-03-15 08:58] meizenga commented on #88
Agree. This is basically the only info I'm interested in:
Incremented TP for deal 123456789/BUSD_MBOX and bot "botname"
Changed TP from 2.5% to 2.7% (+0.2%)

[2022-03-21 19:01] amargedon commented on #79
For Altrank, GalaxyScore and BotAssist this has been implemented using the 'originalmaxdeals' and 'allowmaxdealchange' options in the configuration. All these scripts also support filtering based on the 'min 24h volume' as configured in the bot on 3C.

@cyberjunky I think this request is finished, as combining these scripts is not within the scope (yet)?

[2022-03-22 01:52] dangalv commented on #79
Good news, although I think it would be a very good idea that if there is no coins available to trade that the bot can be turned off automatically, since the bot does not accept a value of "0" in "Max active deals". " to save the bot settings.
Although I don't know if it's possible to turn off the bot through API or it's only possible through tradingview alerts

[2022-03-22 11:01] MassimoCarpita commented on #79
Thanks for your answer @amargedon. Cool update. Nonetheless it's not clear in the description what happens when # of suitable pairs is 0 (since you can't set max active deals = 0 in 3commas).
I've built my own version of this and in my case I turn off the bot (@dangalv yes you can do it with API, I restart the bot at next update if new suitable pairs are then available or otherwise I keep it shut

[2022-03-22 11:03] cyberjunky commented on #79
Sure you can turn off bots using the API, that's not the issue, the issue is we have a too little time do do all things we (and others) want. Mind sharing it? Or are you just a taker?

[2022-03-22 11:15] cyberjunky commented on #79
I understand.

[2022-03-22 11:17] MassimoCarpita commented on #79
If you want me to, I can build a public github folder and you can check it from my profile. Let me know if it can be useful. I'm available.

[2022-03-22 19:39] dangalv commented on #79
Great! It can be very useful, thanks for the contribution @MassimoCarpita, hopefully when @cyberjunky has time he can check and index it to his git code.

[2022-03-27 01:22] dominionman opened #105 "Change BO percentage"
Is it possible to set the BO vs SO percentage? I would like my buy orders to receive 100% of the compounded profits instead of 50 being split with the safety orders.

[2022-03-27 14:24] bonjo75 commented on #23
Start/Stop bot script is really interesting and IMHO is the most important feature not yet implemented. CBBI indicator is quite to complex to implement, while fear and greed index is easier. Maybe a possible combination of FG index and also drop of BTC price superior to X% will work. Just thoughts...

[2022-04-06 13:54] bramjekel opened #107 "Compound bot not able to handle bot with no safetyorders"
The latest version of the compound.py bot helper is not able to compound the earned profit to the BO if there are no SOs.

I have manually added some lines of code to the python script for work-around this.

I have changed this code starting on line 545:

funds_so_needed = safety_order_volume
total_so_funds = safety_order_volume
if max_safety_orders > 1:
    for i in range(1, max_safety_orders):

[2022-04-07 08:08] cyberjunky commented on #107
@bramjekel Bram, thanks! I have added your fix to latest code, maybe you are able to check it?
I will close this, if something isn't right please reopen.

[2022-04-07 08:08] #107 closed

[2022-04-08 08:47] frontero commented on #89
I'm looking for the same feature as well. The script now chooses the coins based the altrank value and then the top x coins. What I would like to see is that it also chooses those coins, but then only if they are in the top x of the coinmarketcap order. So that a coin in the altrank is number 1, but in the coinmarketcap number 5000 i.e. that it wouldn't added that coin to the bot.

[2022-04-08 09:00] frontero opened #108 "Combine Altrank and Galaxy Score / Coinmarketcap"
Is it possible to combine the Altrank score and Galaxy Score / Coinmarketcap? So to add a coin if the altrank score is < 50 and the Galaxy Score < 100 i.e.?

[2022-04-08 09:34] rthepen commented on #108
Hoi,  soon you will need to hold lunr to use the api

[2022-04-08 09:45] frontero commented on #108
How many lunr do you need to hold?

[2022-04-08 09:48] Gh61 commented on #108
Coinmarket cap is not part of the LunarCrush API - so it would be unnecessarily complicated to add another call to another API to bots.

GalaxyScore is ranked oposite of altrank. The bigger the better.
I have been planing to add minGalaxyScore parameter to altrank bot. But as I watched the corelation between GS and AltRank, it is not my priority anymore.

[2022-04-08 09:50] frontero opened #109 "Start a deal one time when a coin enters the top 10 altrank"
When a coin enters the top 10 or top x of the altrank score I want that automatically a deal starts in 3commas once. So not keep starting the deals over and over once it is in the top 10 altrank score. When it goes above, lets say the altrank score of 50 and enters the top 10 again then it may start a new deal in 3commas. Would that be possible?

[2022-04-08 09:55] frontero commented on #108
@Gh61 are you saying that there is no relation between between the Galaxy Score and Altrank?

The reason why I would like to add the Coinmarketcap ranking score is that it would buy shitty coins that are for example above 500.

[2022-04-08 10:24] Gh61 commented on #108
No, I am saying the exact opposite - in my observings, if some coin is high in altrank, it has pretty high Galaxy Score (and if not, it will follow during a few minutes).

I understand your coin market cap proposed strategy, but bot based on altrank or galaxy score is mostly about Volatility trading, where you don't care if it's shit coin or some strong altcoin.

[2022-04-08 10:50] rthepen commented on #108
500 and also pay some Lunr to use it, but that's not clear.

I'm working to build my own ranking Including ta, social activity and on chain analysis.

[2022-04-09 05:15] cyberjunky commented on #108
Altrank and Galaxyscore coins are just that, building checkis against coinmaketcap is possible, but it requires at least 4 extra ini file settings, and whats next... Maybe later I build a combination of all of them but for now closing this request. FOr now you can block shitcoins using local or 3commas blacklist, or 24h volume threshold.

[2022-04-09 05:15] #108 closed

[2022-04-09 05:17] cyberjunky commented on #109
This involves adding a database to record if coins where in top 10 already or not, this would over complicate this script.

[2022-04-09 05:17] #109 closed

[2022-04-09 05:18] cyberjunky commented on #75
@spammik which telegram channel is this? I can have a look if format is strict

[2022-04-09 05:21] cyberjunky commented on #88
I have removed the notifies about next update interval.

[2022-04-09 05:21] #88 closed

[2022-04-09 06:37] Ckoz1 opened #110 "Telegram/apprise"
Do yoU have an example of how to set up telegram and apprise.  Keep getting a no apprise module error
Thanks

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment:**
 - Python version: python3 -V
 - Operating System: uname -a
 - Version of software [e.g. 0.6.1]:

**Addition

[2022-04-09 14:11] bramjekel opened #111 "Logging.py utf8 error"
Logging.py is giving a UTF8 error because of the bitcoin character. This can be resolved by adding ", encoding='utf-8'" to line 156, like below.

        # Log to file and rotate if needed
        file_handle = TimedRotatingFileHandler(
            filename=f"{self.datadir}/logs/{self.program}.log", backupCount=logstokeep, encoding='utf-8'
        )
        file_handle.setFormatter(formatter)

[2022-04-10 16:00] cyberjunky commented on #110
'No module error' usually means you don't have all the python package requirements successfully installed, have you tried running this ones?
[code]

[2022-04-11 16:47] amargedon commented on #79
@MassimoCarpita thanks for sharing the code in the repository. I've started to integrate your changes, and will also extend it to altrank.py (only stop and start of bots) and botassistexplorer.py. Will post an update when done.

[2022-04-11 19:56] amargedon commented on #79
@MassimoCarpita the changes have been merged. Although the changes are also in botassistexplorer.py which I have tested, I do not have a GalaxyScore configuration running. Would you be able to update to the latest version, run it and provide any feedback? Thanks!

[2022-04-13 01:16] dangalv opened #115 "Add maxaltrankscore in the botassistexplorer script"
Hello!
Could you add "maxaltrankscore" in the botassistexplorer script in the future when you can?

off: you could register in brave to receive bat token as a tip, in github I see many users who can receive those tips but I see that you are not registered. It would be another way to collaborate.

thanks

[2022-04-13 19:46] dangalv commented on #115
If I work from altrank.py and other similar scripts there is a problem that the bot cannot start if I activate " allowbotstopstart ". As much as the currency is in the first place and I put these parameters: altrankscore: 1 numberofpairs: 1 and originalmaxdeals = 1 the bot cannot turn on

[2022-04-13 23:51] dangalv commented on #79
@amargedon Hello friend thanks for helping to improve the code!
Sorry to bother you but could you explain to me if it's not too much trouble how to place the top 1 coin without the bot turning off? there is a problem that the bot cannot start if I activate " allowbotstopstart ". As much as the coin is in the first place on the lunarcrush and I set these parameters like: "altrankscore = 1", "number

[2022-04-14 21:32] dangalv opened #116 "I can't get the top coin to turn on the bot"
I don't understand how to make the lunarcrush top coin make the bot turn on.
My setup:

![image](https://user-images.githubusercontent.com/97088068/163480156-3b40ec67-b4aa-41ea-aaf4-f2ed5f39d613.png)

the bot changes the currency but does not turn on the bot:
![image](https://user-images.githubusercontent.com/97088068/163480249-762686f3-959a-478e-a2b8-80d7a795edf2.png)

![image](https://user-image

[2022-04-15 05:33] pvdochtend commented on #116
If I'm correct, that's how the scripts works. It only changes the pairs/coins but not that status of the bot.

You can turn it in manually.

[2022-04-15 07:06] dangalv commented on #116
The last update of the bothelper allows to turn on/off the bot  automatically if there is no coin to trade in a certain range. (see allowbotstopstart condition)
Even if enabled this feature "allowbotstopstart" automatically turns off if I manually turn the bot on.

[2022-04-15 08:52] amargedon commented on #115
I can have a look at the max altrank score as in the previous commit the handling of all columns has been improved (and are now available to filter on).

[2022-04-15 08:53] amargedon commented on #79
Will reply in the issue you have created, to keep this thread clean for testing by @MassimoCarpita

[2022-04-15 08:58] amargedon commented on #116
I do assume you are using the botassistexplorer.py script? Because maxaltrankscore and comment are not entries used by the configuration, so it seems at least your config is a mix of two different scripts.

However, that should not be an issue and is just something I notice. The last update of the botassistexplorer script will stop/start the bot and I just tested with a bot of mine and saw it's wo

[2022-04-15 09:06] dangalv commented on #116
Hello, thanks for answering, I will try to speak to you from a translator, I hope you understand me.
I will explain the case to you in more depth. In this case, I used the "altrank.py" script. I don't use a volume limit, I just want to trade the first coin in the lunarcrush altrank list, if none exist the bot will stop. As with the configuration established at the beginning of this thread, nor wit

[2022-04-15 09:22] amargedon commented on #115
And the option is added, pull request is open and waiting for @cyberjunky to be merged. Default value is set to 1500 (same as in altrank.py), which you can change afterwards off course.

[2022-04-15 09:26] dangalv commented on #115
Thanks again for joining the thread, look I think it's a good idea to filter the ranking of the coins regardless if that coin is the first in the column, since it does not guarantee that that coin will be the first in the lunarcrush global list, it can be the first of the list of the exchange that I use but not be the number 1 of global altrank.
Oh and another thing I know I could use altrank inst

[2022-04-15 09:31] amargedon commented on #116
Thanks for your reply! Oke, so you are using altrank.py and no volume filter; clear.

In your configuration; lc-fetchlimit is set to 10. I think the data which is retrieved is the same as shown on this page: https://legacy.lunarcrush.com/markets?rpp=50. Looking at the top 10, there is no coin with an altrank score of 1...The coin with an altrank score of 1 (XRP at moment of writing) is at position

[2022-04-15 09:36] amargedon commented on #115
Not sure if I understand correctly. 3C-tools does already sort the list (https://www.3c-tools.com/markets/bot-assist-explorer?list=binance_spot_busd_alt_rank for example) on alt-rank score so if you get the top one it will be the highest alt-rank score. Does not need to be alt-rank score 1, so retrieving only 1 coin and having maxaltrankscore on 1 will enable you the get the top alt-rank coin if i

[2022-04-15 09:48] dangalv commented on #116
yes, it may be that now there is no coin to place first in the LC list, but in the example I gave a few hours ago KNC was first in the list and the fetchlimit was set to 10, I suppose that the bothelper could read that coin without problems to make it work in binance futures contracts, which is the exchange where I test it, I even noticed how the currency changed automatically but the bot did not

[2022-04-15 09:58] amargedon commented on #116
Oke, will in that case I need more logging to investige further in order to determine what is going on.

Can you please provide logging (with Debug = True set in the configuration) when this situation happens again? Hopefully, with this logging we get more details of what is going on.

[2022-04-15 10:04] dangalv commented on #116
[altrank.log.txt](https://github.com/cyberjunky/3commas-cyber-bots/files/8495335/altrank.log.txt)

there are the attempts of this day

[2022-04-15 10:26] dangalv commented on #115
Look I leave an example so you can understand me:
suppose that global altrank is VRA in the first position, but VRA does not exist in Binance futures, so XRP is in global altrank 2 but it is first in the list which I do not care about, I just want the bot to work with the first currency of the global altrank, which is exactly what it shows in the "alt-rank" part of the list

In this example case c

[2022-04-15 10:30] amargedon commented on #116
[altrank.py.txt](https://github.com/cyberjunky/3commas-cyber-bots/files/8495425/altrank.py.txt)

In your case, the max number of deals is already 1 and the number of new pairs is also 1. The stop/start of the bot was only checked when the max number of deals would change, but that is not happening in your case. So, I have changed this check by looking at the number of pairs; if the valid number of

[2022-04-15 10:48] amargedon commented on #115
But, if you want to have coins that are available in Binance Futures, and want to have only the first one, then use the following list: https://www.3c-tools.com/markets/bot-assist-explorer?list=binance_futures_usdt_alt_rank. Set the start- and end- number of the botassistexplorer.py script to 1 and you only get the first one?

[2022-04-15 10:53] dangalv commented on #116
Woow dude! With that script, it perfectly turns on the bot now that there is a coin in the top available in the exchange :) we will see how it continues to work in the future when there is no coin available from the exchange in the first position. I will be eternally grateful to you!

[2022-04-15 11:00] amargedon commented on #116
Thanks for the feedback, and I'm happy the script is working for you! I will commit this change as for my bots it still is working, so after a new merge by @cyberjunky you can use the script from the repository again.

[2022-04-15 11:04] dangalv commented on #115
The position of the list does not interest me really, but the position of the altrank score does, there may be cases that the first coin of that list (binance futures) does not correspond to the first coin of the number one position in the altrank "global". As I explained in the previous example.

But never mind mate, thanks for modifying the altrank script from the other thread, this "3c-tools" s

[2022-04-15 11:10] #116 closed

[2022-04-15 11:15] dangalv commented on #116
Great! Thanks again!

As an addition that maybe you should see later is for the other scripts like the galaxyscore script, it has a similar problem not turning on when setting parameters like mingalaxyscore = 74 (example) or other parameters. But I guess it will be easy after fixing this code, I still don't want to bother you anymore, you've made my day with the altrank thing, I should consider op

[2022-04-15 11:22] cyberjunky commented on #110
@Ckoz1 closing for now, if you still have issue, let me know

[2022-04-15 11:22] #110 closed

[2022-04-15 11:23] cyberjunky commented on #111
Thanks @bramjekel, will add patches soon!

[2022-04-15 11:29] cyberjunky commented on #111
Added, maybe you can have a check? Thanks!

[2022-04-17 13:45] MassimoCarpita commented on #79
Hi guys, sorry I was off working and it has been quite a busy period. Idk if I'll be able to test the update  but I happen to have any feedback you'll be the first to hear about it. And thanks again for your work @amargedon

[2022-04-17 13:49] MassimoCarpita commented on #79
I'm sorry guys I've been off to work and it has been a super busy period. Idk whether I'll be able to test the update in next days / week but you'll be the first to hear any new feedback in case. Thanks again for your amazing work @amargedon!

PS: I made a mistake and closed the thread, if you feel like it's good to re-open it, feel free to do this.

[2022-04-18 20:17] dangalv commented on #115
Added in the last update, thanks guys :)

[2022-04-18 20:17] #115 closed

[2022-04-19 01:32] dangalv commented on #115
I leave a possible feature that could be brought from other scripts and improve the bootassistexplorer script.
For some reason in certain custom setup "numberofpairs" is missing. If you want reasons I can explain why this feature is missing.

I didn't know whether to open another thread but if you read it it would be a good addition to future updates, sorry for the inconvenience.

Thanks!

[2022-04-19 01:33] dangalv commented on #115
I leave a possible feature that could be brought from other scripts and improve the bootassistexplorer script.
For some reason in certain custom configuration "numberofpairs" is missing. If you want reasons I can explain why this feature is missing.

I didn't know whether to open another thread but if you read it it would be a good addition to future updates, sorry for the inconvenience.

Thanks!

[2022-04-19 18:27] frontero opened #119 "Retrieving Coin of the Day"
Is it somehow possible to retrieve the "Coin of the day", which doesn't have to be the best Altrank or Galaxy Score coin per se?

[2022-04-20 18:37] amargedon commented on #89
For this to work, the different datasets need to be combined. So input from Altrank, GalaxyScore, CoinmarketCap ed needs to be collected, and then the user should be able to put in some configuration to get the desired list of pairs as output.

As these are currently all seperate scripts, and we have a lot of other requests/stuff already going on, it's not something I see happening in a short time

[2022-04-21 15:34] cyberjunky commented on #111
If still not ok, please (re)open

[2022-04-21 15:34] #111 closed

[2022-04-26 08:08] Gh61 opened #120 "AltRank - KeyError 'vt'"
**Describe the bug**
When running `altranky.py` script, suddenly today (2022-04-26) from about midnight UTC, `altrank.py` script started to fail on key 'vt'.

**To Reproduce**
Run `python3 altrank.py`.

**Expected behavior**
Running without exception.

**Log**
[code]

**Environment:**
 - Python version: 3.9.7
 - Operating System: Linux lunar-crush-vps 5.13.0-40-generic #45-Ubuntu SMP Tue Mar 29 14

[2022-04-26 08:27] cyberjunky commented on #120
Thank you for reporting, it seems LunarCrush removed a field from the data.
I have updated the code

[2022-04-26 08:27] #120 closed

[2022-04-27 12:22] bramjekel opened #121 "Compound script not taking leverage into account"
Could be considered as a bug if you use leverage so therefore logged as a bug instead of an enhancement request :-).

Compound.py is not increasing the BO and SO volumes with taking into account the set leverage custom value of the bot.

In the compound_bot function section 'if profit_sum:' condition on line 535 the following needs to added to retreive the set leverage customer value from the bot:

[2022-04-27 12:33] bramjekel commented on #121
Just realized that I have not taking into account bots without leverage so code now gives some errors. Working on fixes. Expect update in coming days.

[2022-04-28 16:50] cyberjunky commented on #121
Thank you in advance!

[2022-04-28 18:21] bramjekel commented on #121
[compound.zip](https://github.com/cyberjunky/3commas-cyber-bots/files/8585370/compound.zip)

Attached the adjusted compound.py file. I have modified several parts to enable compounding for leveraged bots.

I have also made some additional adjustments for my previous logged issue with bots with no SOs (see [https://github.com/cyberjunky/3commas-cyber-bots/issues/107](url) ).

[2022-04-29 13:36] cyberjunky commented on #121
Thanks Bram! I merged your code into the repository

[2022-04-29 13:36] #121 closed

[2022-04-29 13:55] bramjekel commented on #121
@cyberjunky No problem. I love the work you have put into it, it's a small thing for me to help.

[2022-05-05 14:40] bonjo75 commented on #23
by the way in my opinion an efficient way to stop the bot become only by a signal. I would not rely on CBBI indicator or similar

[2022-06-07 21:40] Janc63 opened #124 "Maximum Active Deals in 3commas not changed"
I am not so familiar with the use of Github so I appologize in case I am not approaching you in the right way.

It's about the bot altrank.py and galaxyscore bot.
I have added the following lines in the .ini files:

originalmaxdeals = 6
allowmaxdealchange = True
allowbotstopstart = True

However, if the amount of available coinpairs become less then the initial amount of max deals, normaly the all

[2022-06-17 02:11] dangalv opened #125 "Idea: trailingstoploss_tp activating with a specific SO"
Hello!

I came up with a useful idea that can be given to this script.
I hope you will consider it.

It is to specify a specific SO to trigger the script "trailingstoploss_tp" For example we use a DCA and after a big drop we want to take advantage of all the large volume accumulated  and a possible dead cat jump, so you could make more profit than imagined.

But you will tell me why you do not alw

[2022-07-01 06:48] cyberjunky commented on #124
Closing, stale ticket, no response, cannot reproduce

[2022-07-01 06:48] #124 closed

[2022-07-14 17:11] wrone opened #129 "[Question] Will the "trailingstoploss_tp.py" work with Futures Long and Short leveraged bots?"
Hey!

I'm running long and short leveraged bots. I was using trailingstoploss_tp for spot bots but will it work with the leveraged bots? I see that there is a "Futures trailing stoploss bot helper named trailingstoploss.py", but it is not as flexible as trailingstoploss_tp.py, right? You can't configure multiple "activation-percentage" and "initial-stoploss-percentage".

[2022-07-16 06:49] amargedon commented on #129
Not sure, to be honest. I've written the script and only used it on the spot market.

However, trailingstoploss_tp.py is based on trailingstoploss.py and the very core of the code (behaviour) is the same; calculate SL percentage and update deal at 3Commas. As far as I know leverage it's still a deal with an opening price, on which you can calculate SL and TP level (which is what the script does).

[2022-07-16 08:19] wrone commented on #129
Hi @amargedon!

I'm running it on my real account with small amounts - as of now, looks ok.

Thanks for answering and thanks for sharing this script!

[2022-07-16 08:19] #129 closed

[2022-07-17 21:31] judasbenhur opened #130 "legacy.lunarcrush.com no longer accessible to generate the API key"
As outlined in the readme its no longer possible to generate an API key for lunarcrush because legacy.lunarcrush.com redirects to lunarcrush.com. Apparently they are working on a new API access that will be pay to use.

Any alternative or way to fix this in the meantime? Maybe this could be alternative? https://pypi.org/project/lunarcrush/

[2022-07-27 15:45] cyberjunky commented on #130
My script doesn't need a API key either, just leave it at default value, don't know when this stops to work though

[2022-07-27 15:45] #130 closed

[2022-07-30 11:25] amargedon commented on #53
Not sure for which script this is requested, but I'm currently testing an addition to the CoinMarketCap script which is able to exclude coins with a 'percent change' of x (up and down) on 1h, 24h and 7d timeframe.

Will create a Pull Request when testing has been finished and update this issue.

[2022-08-04 05:42] #125 closed

[2022-08-06 13:16] mshaltaf opened #135 "not sending the full list of coins in the telegram bot chat"
**Describe the bug**
not sending the full list of coins in the telegram bot chat as below :

Bot '2263878' with id '7099258' updated with 10 pairs (USDT_DCR ... USDT_WOO)

plaese advise if we can change this to show all the selected coins

altrank is the used bot

thanks

[2022-08-09 15:12] amargedon commented on #135
This is as designed, actually. In one of the first versions, we send the complete list which is ok when using 10 pairs. When, however, you are using 100 (or even more) pairs this list becomes huges and unreable. Even to a point where apprise will not deliver the message anymore because it's length is too long. So that is why only the first and last pair is shown.

In the logging you can find the c

[2022-08-13 10:40] bonjo75 opened #137 "additional feature for Altrank script"
would like to ask if possible to add additional criteria of coin selecting for Altrank from Lunarcrush, like select the first X coins but also taking in considration other parameter offered by LC as Market volatility and/or market Cap, etc.
Is that would be possible

Thanks

[2022-09-19 13:57] #36 closed

[2022-10-10 06:33] dangalv opened #144 "Some problems with the new compound script"
Hello again!
First I'm going to share some problems that I noticed with the new update of the compound script. The first notable one is the following, the script says the bot's earnings and settings, but then doesn't proceed to apply the new BO and SO values to my bot.
I tried the old version of the script (I do backups) and it works, but the new version gives the following error:

Logs:
<details>

[2022-10-11 06:00] amargedon commented on #144
The crash should not have happened, something to look into. This is something changed in the last version as we improved the script to handle profits which are too small for increasing the BO/SO size (so we store the increase, until enough profit has been made to increase the BO/SO).

Regarding the increase and decrease based on the stoploss; would expect it to return to 20 indeed. However, last w

[2022-10-11 06:33] dangalv commented on #144
Thanks for replying and for your work.
I know that it is somewhat complicated to make an almost perfect script to handle several values of the deals and especially when losses occur, for something I think that 3commas does not add it natively. I know it's cumbersome but the way to fix the bot imbalance manually works for me: returning to the original values of the BO/SO and then resetting the SQL

[2022-10-11 06:45] brhahlen commented on #144
Thank you for the bug report.
Could you please share your `compound.ini` (excluding the sensitive parts), of course?

[2022-10-11 08:56] dangalv commented on #144
Yes no problem, this is the same .ini one I used for the old script and also the new one that didn't work.  I even generated an .ini from scratch by running the .py file and it also gave me the same error

[settings]
timezone = Europe/Amsterdam
timeinterval = 900
debug = False
logrotate = 7
default-profittocompound = 0.6
3c-apikey = xxx
3c-apisecret = xxx
notifications = False
notify-urls = ['noti

[2022-10-11 09:05] brhahlen commented on #144
Thanks!

Just to verify:
[code]
I assume the `xxx` here are actual values from a bot?

[2022-10-12 08:18] brhahlen commented on #144
How are you running the script?
Which OS, Python version?

[2022-10-13 18:22] #144 closed

[2022-10-13 18:24] amargedon commented on #144
I've just approved PR #146 so it should work for you again after updating.

[2022-10-13 20:45] dangalv commented on #144
Hello @brhahlen
No need to apologize friend, your work and that of your team is very appreciated. Then I will try the new script and if there is no problem I will open a new topic for the second request. Thanks you

[2022-10-16 01:56] dangalv opened #147 "Disbalance when lost deals in compound script"
Hello there!

**Describe the bug**
Compound script does not adjust values well when a deal is lost on stop loss condition or timeout market sell.
(For clarification, the script does the process perfectly when deals are in profit)

**To Reproduce**

I simply run the compound script and when a deal loses I calculate the compound value that should lower the BO/SO values is still considerably higher

[2022-10-16 08:45] dangalv commented on #147
Rather, I am noticing with the new script that it does not apply the changes when it loses due to SL. Restart several times, the new value that drops is the correct one since I did the deletion of the sql db of the compound script and it gave me what it says 7.45 there
But the problem that does not apply the values when there is a loss in the bot

![image](https://user-images.githubusercontent.com

[2022-10-19 16:29] amargedon commented on #147
Thanks for the seperate report and your (extended) information. I do recognize the compound script is not perfect, and with a recent change we broke some functionality is my conclusion based on your data. We did add some checks and these checks assume the BO will only increase, so decreasing after a loss is no longer possible.

@brhahlen and me are looking into the option to make the script more a

[2022-10-20 06:02] dangalv commented on #147
Thanks fellow armageddon for responding.
As I said before in the other thread, I know what it must cost to make these scripts and we appreciate your good will in such contributions.
I am Testing the old and new script, but I was parsing the old one (since this works somewhat better to discount) and sometimes it is not necessary to restart it (delete sql db), I think the problem is when there is a

[2022-10-22 21:58] dangalv opened #152 "Script bot helper error"

[2022-10-22 22:04] #152 closed

[2022-10-22 22:07] dangalv opened #153 "Script bot helper error"
Hello!

I only leave a possible error with the helper scripts with the new update (also in case any user thinks about updating), in my case I usebootsistexplorer but I did not try the altrank or galaxy script since since I returned to the previous compilation, but I also suppose that the same error case can occur since those scripts were also updated
 I leave the catch.

![197363762-f1befd72-e1cc-

[2022-10-23 08:21] grumpydolphin opened #154 "Start/stop bots to optimise account balance use"
It would be great for a script to monitor open trades and maximise the maximum active deals.

For example, you have 100 bots enabled and you only have enough funds to run 10.  All the bots stay active until 10 deals are opened. at this point the script disables all the remaining bots.  When deals are closed the script then enables more bots to pickup more deals.

This sort script could allow you t

[2022-10-26 07:39] sirjimjones commented on #153
i have the same issue @cyberjunky

[2022-10-26 11:35] cyberjunky commented on #153
@dangalv @sirjimjones The helper files got a new dependency named 'cloudscraper' Simply install it by running this ones (not bad to do after an update anyway, since it can update certain modules too)
[code]

[2022-10-26 11:35] #153 closed

[2022-10-26 11:36] cyberjunky commented on #135
Stale ticket, closing, please (re)open if needed.

[2022-10-26 11:36] #135 closed

[2022-10-26 11:37] cyberjunky commented on #23
Stale ticket, issue fixed, closing, please (re)open if needed.

[2022-10-26 11:37] #23 closed

[2022-10-26 11:37] cyberjunky commented on #75
Stale ticket, closing, please (re)open if needed.

[2022-10-26 11:37] #75 closed

[2022-10-26 14:14] sirjimjones commented on #153
Thanks a lot, now its working! I wasn't aware how to properly perform an update. I was simply doing a "git pull origin main". Maybe put a line in the README how to update the script in case someone else is facing the same issue? I would highly appreciate :)

[2022-10-26 14:51] cyberjunky commented on #153
It was there all along: ;-)

https://github.com/cyberjunky/3commas-cyber-bots#download-and-install

[2022-10-27 12:10] brhahlen commented on #147
@dangalv My apologies for the delay in responding. Things have been a bit busy here and there.
I've just submitted an update to my PR, that should (hopefully) fix the negative compounding.

I've tested it out with a bot that has some losses as well, and it seems to work fine, but would be good if you could check as well (after @amargedon has approved the PR :) )

[2022-10-28 20:51] dangalv commented on #147
Thanks you very much for your work @brhahlen :)  I'll take a look later and give my opinion if necessary

[2022-10-30 18:00] amargedon commented on #154
Hmm I understand the idea but what do you think about bots that open a deal at the same time? With 100 bots in this example, it could be two bots start a deal at the same time (or within the same interval for the script) causing actually too much funds being used (or, errors at 3C regarding insufficiënt funds).

And bots using more funds than available should already be disabled during the process

[2022-10-30 18:07] amargedon commented on #147
I just merged PR #157 into the repo so the updated script is available for testing by you.

[2022-10-30 19:34] grumpydolphin commented on #154
Yes that the problem, if deals start at the same time... or too close for the script to catch.

I used a script in the past that had a similar function.  The previous script was designed to work with futures bots.  The script monitored your margin level and stopped/started bots based upon your margin. It would have suffered from the same issue though in that multiple bots could start at the same t

[2022-10-30 21:22] dangalv commented on #147
Thank you friends for your commitment

[2022-10-30 21:22] #147 closed

[2022-11-01 01:13] dangalv commented on #137
Selecting the first coins can be done with the bootsisistexplorer script, but unfortunately no script allows you to use lunar rank and volatility at the same time
I hope guys @amargedon @brhahlen @cyberjunky can implement these two conditions that can be used simultaneously.
In botassistexplorer script, for example, the possibility of choosing 2 or more lists could be implemented, ex: altrank + vo

[2022-11-02 05:03] dangalv opened #159 "Bug or API issues? (altrank / galaxyscore script) - Reopened"
Hi guys, sorry to be annoying again. I'm on your side
But there is an error that I don't know if it's already an API error or a bug in the altrank and galaxyscore script encoding
I haven't used these scripts for a long time since I used botassistexplorer but for some reason this script got stuck and doesn't renew the coins in the altrank list (3c-tools error, not the script)
I did a clean install

[2022-11-02 19:56] dangalv commented on #159
Unfortunately the free lunarcrush api was revoked, so botassistexplorer (3c-tool) affected it as well. I guess there is no API error

[2022-11-03 10:11] Gh61 opened #160 "Error fetching 3Commas price"
**Describe the bug**
When using altrank.py script, fetching BTC price from 3commas fails on:
[code]

**To Reproduce**
- `git pull` to get latest version
- instal missing requirements if any
- run `altrank.py`

**Expected behavior**
Should run flawlessly

**Environment:**
 - Python version: 3.9.7
 - Operating System: Ubuntu
 - Version of software: latest

**How to fix**
I simply fixed the script by

[2022-11-03 10:21] Gh61 commented on #160
OT:
BTW I am trying to find out, what happened to LunarCrush v2 API, it's not working for 3 days straight (getting HTTP 500).
I only hope, that they did not kill this API.
Can't find any info about it.

[2022-11-03 20:24] dangalv commented on #160
I have the same error, I bought the api for one day from lunarcrush and the error persists

[2022-11-03 20:27] dangalv commented on #159
Update: I bought the API for one day from lunarcrush and the script error is the same 😔

[2022-11-03 20:42] bonjo75 commented on #160
Same error here, from 1st November. It seems not related to API key but more to have changed the fenching?

[2022-11-03 20:48] dangalv commented on #160
I really don't know, it may be that the new api needs another way to encode the script so that it can fetching the coins

[2022-11-03 21:15] Gh61 commented on #160
Yes, this script is using the v2 API and I think that it will soon not be supported anymore. But I am expecting some announcement about this and maybe the api will be returning 404 after that and not 500. Thou it's true, that the site for this api (legacy.lunarcrush.com) is no longer available.
Then we will have to rewrite the script to support the new (paid) API v3.

Currently there are some issu

[2022-11-03 21:30] dangalv commented on #160
Yes, I was seeing that in the scripts in the "helper" folder, and indeed it uses the v2 api and actually the api is v3. I was reading some of the api documentation from lunarcrush, and I think that some requests to the api have changed, we should change some of that to the scripts in the helper folder such as datasources, which I think is where the connection to the LC api is. I'm going to keep tr

[2022-11-03 23:15] bonjo75 commented on #160
I modified the part of the file misc.py changing the request for fetching, the helper is not giving error but cannot fetch any coins from LC. I'm not so good in python, we need to wait someone else

[2022-11-05 00:07] thematikma commented on #159
The api v3 uses different endpoints. I reckon changing all lc scripts will be necessary.

[2022-11-05 11:24] amargedon commented on #160
As far as I know the API is down / can no longer be used and is not freely available anymore? However, looking very short at the new documentation it seems that with an account you have 24 calls per day to fetch the /coins endpoint in which the data is located. That would require updating this script to match that endpoint indeed.

Is something I will look into, not sure when. And I will also fix

[2022-11-05 11:25] amargedon commented on #159
Thanks, just replied to the other issue as well. Yes, these scripts need some work to match the new endpoint. Will look into this, not sure when however.

[2022-11-05 23:11] dangalv commented on #159
Nice thanks!

[2022-11-06 12:38] cyberjunky commented on #159
@dangalv @thematikma I have updated some code, using my new api3 key I got so far...
I'm still recovering from illness, maybe you can try and give some results...
[code]

[2022-11-06 14:39] thematikma commented on #159
@cyberjunky @dangalv @amargedon Many thanks for your efforts! I will have a try later and post results.
And a speedy recovery to @cyberjunky

[2022-11-06 14:45] cyberjunky commented on #159
It doesn't look to me API is free for any /coins calls (you need at least 240 credits per day 24 * 10 if you call every hour) which costs:
![image](https://user-images.githubusercontent.com/5447161/200177440-673d862b-906e-4aa1-90f5-947b51edf715.png)

[2022-11-06 14:46] cyberjunky commented on #160
@amargedon It doesn't look to me the API is free for any /coins calls (you need at least 240 credits per day 24 * 10 if you call every hour) which costs:
![image](https://user-images.githubusercontent.com/5447161/200177440-673d862b-906e-4aa1-90f5-947b51edf715.png)

[2022-11-06 15:19] amargedon commented on #160
Ah yes you are right. I missed in the overview the credits part and saw only the number of calls you are allowed to do per day.

[2022-11-06 16:26] thematikma commented on #160
I added funds to Lunarcrush and had a test with the new code. The good news is, there wasn't any error and the calls went through. But I do not have level 4 status on LC, which I suppose is now needed for altrank and galaxyscore :(

2022-11-06 17:08:50 - galaxyscore10 - INFO - Bot exchange: Binance (binance)
2022-11-06 17:08:50 - galaxyscore10 - INFO - None of the 3c-tools bot-assist suggested pai

[2022-11-06 16:36] cyberjunky commented on #160
@thematikma where is that stated on the LC websites, that makes it even a worse business case than it was with the credits alone.
Can you enable debug in galaxy10.ini and post result of the lunarcrush calls? If you also have downloaded the latest helpers/logging.py the debug output is shown in console as wel...

[2022-11-06 16:39] cyberjunky commented on #160
It seems to have downloaded data, maybe something else needs a fix
```Fetched LunarCrush ranking OK (150 coins)```

[2022-11-06 16:41] thematikma commented on #160
Only these vague hints. Something written in docs or FAQ about that, I could not find.
![image](https://user-images.githubusercontent.com/37190356/200183146-33f3a8a7-bcda-4f0f-907b-d8a5dc797023.png)

![image](https://user-images.githubusercontent.com/37190356/200183036-a113f806-9f4c-4eaa-9f2c-ffc2ea89f9ca.png)

![image](https://user-images.githubusercontent.com/37190356/200183076-3291eb54-bc91-4bb

[2022-11-06 16:45] cyberjunky commented on #160
Please enable debug and rerun to get the debug output to share, because it even looks the calls you made are free to be honest.

The screenshots looks like to be for webgui access, the API calls pricing is different, would be strange if every page refresh would cost money.

[2022-11-06 16:47] thematikma commented on #160
yeah you are right. Debug is on now, and it seems altrank and vol limits are too high. I will post results.

[2022-11-06 16:51] thematikma commented on #160
[debug output.txt](https://github.com/cyberjunky/3commas-cyber-bots/files/9946326/debug.output.txt)

[2022-11-06 16:52] thematikma commented on #160
I will try to lower limits and get back with another output

[2022-11-06 16:55] cyberjunky commented on #160
Yes looks like all is normal, but almost no volume lats months.
Can you check if the credits used are deducted from your total somewhere?

Thanks for testing this BTW!

[2022-11-06 17:10] thematikma commented on #160
Didn't realize low volume until then! I have lowered parameters drastically (maxalt 5000 and mingalaxy 0) just for testing and did get a pair change!
And sill no credits deduced after 6 calls. I will let it run on disabled bots hourly and have a look later on again.

[2022-11-06 17:13] cyberjunky commented on #160
Thanks man! Where exactly did you have add credits? The new LC website is not my favorite one to be honest:
![image](https://user-images.githubusercontent.com/5447161/200184847-d7ab349f-877e-4fca-9ff3-2c2b60704294.png)

[2022-11-06 17:24] thematikma commented on #160
Yeah not that user friendly. It should be on Hamburger menu -> Developers -> API Pricing
And no problem, we can all put a good use to if, it runs again. I can read a bit code and understand API basics, but no practical things yet (should stop inhibit myself to not to 😅)
Thank you and all active contributors for all the work so far!

[2022-11-06 17:36] bonjo75 commented on #160
Guys, I'm available to test on Altrank if someone share the new files with me. I'm Level 4 on LC

[2022-11-06 17:39] cyberjunky commented on #160
They are here on the github. eg https://github.com/cyberjunky/3commas-cyber-bots/blob/main/altrank.py

It uses the same code as @thematikma is testing galaxyscore with, so I guess it will work. but i'm kinda curious if/when credits are deducted from your total.

[2022-11-06 17:46] cyberjunky commented on #160
$9 for 20000 credits will give 83 days of 24 calls per day... but "or ~10day of api acess" seems to suggest there is a minimum usage of $1 per day? I'm so confused, my head is not clear enough to read the small letters...
![image](https://user-images.githubusercontent.com/5447161/200186380-5fbb8f12-36a1-4640-bb3e-f71b1339f349.png)

[2022-11-06 18:11] thematikma commented on #160
I would reckon one has to spend at least $0.01 worth of credits to really show up

@bonjo75

I think I was wrong with the assumption, that Level 4 is necessary (seems to be the case for visuals on the webpage, but not for the api.)
I was getting pais, but volume limits inhibited changes to the bot.

[2022-11-06 18:32] cyberjunky commented on #160
Curious what it does during a few days...

[2022-11-06 18:40] bonjo75 commented on #160
`2022-11-06 19:34:47 - altrank - DEBUG - https://lunarcrush.com:443 "GET /api3/coins?sort=alt_rank&limit=4000 HTTP/1.1" 500 106
2022-11-06 19:34:47 - altrank - ERROR - Fetching LunarCrush data failed with code 500: {"error":"Error: You must have at least $1 USD in your LunarCrush payments account to use this endpoint."}`

this is the reply, Seems that even on Lv 4 need to recharge the account

[2022-11-06 20:03] bonjo75 commented on #160
![image](https://user-images.githubusercontent.com/102473709/200192197-24d45a46-279c-4121-be6f-b7a197d6c607.png)

so my result:
- new script for altarank is running
- I tried with max 4000 coins and it works but as you can see below from log, the fetching must be reversed cause for LC the rank 1 is the last coin

`2022-11-06 20:57:18 - altrank - DEBUG - rank:  1  acr:3972   gs:30.0   s:CLL      'A

[2022-11-06 22:22] dangalv commented on #159
thank you mate! I hope you feel better, as soon as I can I will try the new config and let you know how it went

[2022-11-07 04:36] dangalv commented on #159
@cyberjunky

Well, I tell you about my experience with the galaxyscore script, which is the script one I need.
The coins are fetched but even if I put a high rank of 150 of the altrank coins and from 40 of galaxyscore, neither activates the bot.
Each API call spends an exuberant amount of credits about 10 credits, and I'm naive thinking that I was going to have 2000 calls. I mean, with one dollar

[2022-11-07 11:31] thematikma commented on #159
I agree with that. I would wish for a more attractive plan for private users. ~ $350 a year for hourly calls is nuts imho. I guess one could stop the scripts, when the market is low and safe some usd.

[2022-11-07 11:53] cyberjunky commented on #160
@bonjo75 strange that it's reversed, I make the correct calls, can you try latest code (helpers/datasources.py) and make sure your script has 'altrank' in it's name.

[2022-11-07 11:54] Gh61 commented on #159
I'm honestly thinking about writing some grabber from webui in the future. If it would be possible, you would only need to have Lv. 4. which is one-time payment I suppose.

[2022-11-07 12:00] cyberjunky commented on #159
@dangalv the 10 credits was what I expected it would cost for each call (after looking at the pricing), if you could buy 20K credits and call once every hour it would not be so bad...  but the 1$ per day annoys me
That it would gonna cost a lot of money was expected for months... and I think altrank/galaxyscore is not that good anymore anyway...
If you still want me to debug the issue with the ran

[2022-11-07 12:26] spggooss commented on #159
It is possible already for free with the developer documentation ([https://lunarcrush.com/developers/api/coins](https://lunarcrush.com/developers/api/coins)) . It provides a sample request, but it return the true data. So you dont need to have any Level access to get the data. However, the website is a bit difficult to scrape with no clear html id's etc.

[2022-11-07 12:35] Gh61 commented on #159
I was able to extract the api token used for testing api request on DEV API DOC.
When I used it in the script api requests to LC are now working.

I don't know, if everyone got the same token, or is it my personal.
So check yours:

![image](https://user-images.githubusercontent.com/10837736/200311806-3c1f5e89-a92c-4980-9156-98054731a934.png)

[2022-11-07 13:00] schuesslerf opened #161 "Compound Script TimeoutError"
I just started using the bot today (only the compound script basically) and in general it seems to work fine. However, sometimes, I'm getting an error, saying the the connection to the 3commas API timed out...

Steps to reproduce the behavior:
1. Run Compound script
2. Settings in compound.ini:
[code]

+ 12 more bots with the same settings (just other comment and botID)

Please find a part of the

[2022-11-07 13:11] cyberjunky commented on #159
@dangalv I fixed he sorting issue in latest code for altrank, only tested with seperate call, since api.3commas.io is down for me..

[2022-11-07 13:48] cyberjunky commented on #161
It seems 3commas is goofing up again it seems... maybe it will work in a bit
![image](https://user-images.githubusercontent.com/5447161/200326133-c3f65fdd-1586-4283-ad73-10873ee42c6b.png)

[2022-11-07 13:52] schuesslerf commented on #161
Okay, so nothing we can do right now, rather then waiting - got it :)

[2022-11-07 15:09] dangalv commented on #159
Yes, the 3commas api is currently down

![image](https://user-images.githubusercontent.com/97088068/200344353-a588f336-0437-418d-a885-29acb1b8065e.png)

Then when it is enabled I will keep trying to see what happens

[2022-11-07 19:07] cyberjunky commented on #161
And is it fixed after the 3commas issues were resolved?

[2022-11-07 19:39] dangalv commented on #159
altrank working
no same luck with galaxyscore

[2022-11-07 19:44] schuesslerf commented on #161
Yeah, seems to be back working fully :)

[2022-11-07 20:24] dangalv commented on #161
For those who do not know, I recommend that you subscribe to the 3commas status newsletter

status.3commas.io

there you will receive by mail all the minor or serious notifications of the 3C server health

[2022-11-08 00:43] dangalv commented on #159
Great detail of turning off the bot when the credits or day are over :)

[2022-11-08 08:40] #160 closed

[2022-11-08 12:04] cyberjunky commented on #159
I fixed the galaxyscore issue.
Look like a bug in the LunarCrush API, whenever you sent desc=0 or desc=1 as parameter (which are allowed) the API give false responses.

[2022-11-08 12:16] cyberjunky commented on #119
Sure, what do you want to do with it?

https://lunarcrush.com/developers/api/coinoftheday

[2022-11-08 12:39] #19 closed

[2022-11-08 12:40] #89 closed

[2022-11-08 20:56] #159 closed

[2022-11-10 21:23] amargedon commented on #137
@bonjo75 @dangalv There could be good news coming. I'm currently working on a Marketcollector script which I intend as replacement for CoinMarketCap, Altrank/GalaxyScore/LunarCrush, BotAssistExplorer scripts and merge it in one. Result will be a combined database with all the collected data from different sources.

A second script, the Botupdater, will use the data from that database to update the

[2022-11-10 23:17] dangalv commented on #137
Sounds great, I hope it turns out as expected. TY!
If I have any idea to improve trading I let you know, I was looking at some metric that can also be used to do short trading more safely since I can't find anything reliable that helps me for these bots. I was seeing the LC metric of "bearish sentiment", but it fluctuates with very different values between currency and currency, so I'll keep watch

[2022-11-11 10:48] amargedon commented on #137
You mean the percent change as currently is in the coinmarketcap script? In the new Botupdater script you can specify a range, so for example percent 1h change between 1.0% and 5.0%. Or, if you want to take more risk between 9.0% and 100.0% ;)

The same for Altrank and Galaxyscore, you can select the range instead of only a threshold value.

[2022-11-11 23:30] dangalv commented on #137
I currently use botassistexplorer's volatility parameter. And I only changed a few things, but I don't know why now it tells me an invalid parameter error, when previous days it was working fine for me.

Let's review the other scripts and their settings in the ini file:

- (cmc-script):
"max-percent-change-1h": 0.0,
 "max-percent-change-24h": 0.0,
 "max-percent-change-7d": 0.0,

- in the case of b

[2022-11-12 22:42] dangalv commented on #137
@amargedon  Speaking of the last part of my post, I found a bug in the BAE script that doesn't allow to put neither "allowmaxdealchange" nor "allowbotstopstart" in "false" condition when I want to use a list of winners or volatility from 3c-tool since I had planned to turn off the bot only with a TV signal and not from the script. Perhaps it necessarily needs to be "true", for logical reasons and

[2022-11-27 13:33] amargedon commented on #137
Our scripts are not connected to TV, so not sure how we can 'know' the bot has been stopped by somebody else? There is no indication, unless we start to keep some administration.

As other good news; I've just merged the MarketCollector and BotUpdater scripts to this main repo! This means you will get access to better filtering options as request in the very first message of this discussion. Also